.DS_Store
.idea/
static.iml
*.egg-info
*.pot
*.py[co]
__pycache__
catalogue_service/settings_local.py
logstash/config/logstash.yml.default logstash/config/logstash.yml
logstash/pipeline/logstash.conf.default logstash/pipeline/logstash.conf
sql_data/catalogue_service.sql
pd_temp
sql_data/tasks_ranproducts.back.sql
/static/
.coverage
pd_temp
sql_data/tasks_ranproducts.back.sql
catalogue_service/ran_yaml
dump.rdb
logstash/pipeline/logstash.conf
