<div class="descrip-commenting">

	<img src="/img/monogram-navy.png" class="img-responsive bh-id-allume-avatar logo hide" />			
	
	<p class="descrip">
		<span class="bh-id-beginning"></span>
		<span class="bh-id-more more">&hellip; MORE</span>
		<span class="bh-id-end hide"></span>
	</p>

	<div class="bh-id-comment-list commentss hide">
		<div class="row bh-id-comment-tpl single-comment hide">
			<div class="bh-id-client-avatar client-avatar"></div>
			<p class="bh-id-client-comment"></p>
		</div>
	</div>		

	<div class="bh-id-commenting commenting hide">
		<textarea class="form-control bh-id-comment" placeholder="Reply to your shopper" rows="1"></textarea>
		<img src="/img/looks/arrow_up.png" class="bh-id-submit submit" />	
	</div>

	<p class="bh-id-less less hide">SHOW LESS</p>

</div>
