<div class="container-fluid bh-id-heart-modal heart-modal modal hide">
    <header class="row modal-header">
	    <div class="col-md-offset-1 col-md-10 col-xs-offset-1 col-xs-10">

			<img src="/img/looks/heart_circle_blush.png" class="img-responsive" />

	    </div>
	    <div class="col-md-1 col-xs-1 button">
	        <button type="button" class="bh-id-close close">×</button>
	    </div>
    </header>
    <div class="row modal-content">

		<h3>Awesome!</h3>
		
		<p>We save the items you love to your <img src="/img/looks/heart_blush.png" class="heart" /> page. To view them just select the <img src="/img/looks/heart_blush.png" class="heart" /> in the menu bar.</p>
	
    </div>
</div>
