<div class="bh-id-look-tpl look hide">
	<div class="row">
		<div class="col-md-12 header">
			<p>LOOK <span class="bh-id-look-number">1</span> OF <span class="bh-id-number-of-looks">1</span></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="arrow arrow-down"></div>
		</div>
	</div>
	<div class="row meta">
		<div class="col-md-6 col-xs-12 bh-id-left">
			<div class="bh-id-collage collage image-view"></div>			
		</div>
		<div class="col-md-6 col-xs-12 bh-id-right">
			<div class="row">
				<div class="col-md-12">
					<div class="clearfix name">
						<h1 class="bh-id-look-name look-name"></h1>
						<img src="/img/looks/heart_gray.png" class="img-responsive bh-id-heart heart" />
                        <p class="bh-id-styled-for styled-for hide"></p>
					</div>
				</div>
			</div>			
			<div class="row">
				<div class="col-md-12 bh-id-look-descrip">
					{% include "partials/looks/descrip_commenting.html" %}
				</div>
			</div>			
			<div class="row">
				<div class="col-md-12 social">
					<ul class="clearfix">
						<li><a href="https://www.facebook.com/allumestyle" target="_blank" rel="noopener noreferrer"><img src="/img/social/facebook.png" class="img-responsive" /></a></li>
						<li><a href="https://www.pinterest.com/allumestyle" target="_blank" rel="noopener noreferrer"><img src="/img/social/pinterest.png" class="img-responsive" /></a></li>
						<li><a href="https://www.instagram.com/allumestyle" target="_blank" rel="noopener noreferrer"><img src="/img/social/instagram.png" class="img-responsive" /></a></li>
					</ul>
				</div>
			</div>			
		</div>
	</div>
	<div class="row pieces">
		<div class="col-md-12">
			<div class="bh-id-product-list product-list">
				{% include "partials/looks/product.html" %}
			</div>
		</div>
	</div>
</div>
