<div class="bh-id-product-tpl product col-md-3 col-xs-6 hide">
	<div class="row">
		<div class="col-md-12">
			<img src="/img/looks/heart_gray.png" class="img-responsive bh-id-heart heart" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 bh-id-image-view-container image-view-container">
			<div class="bh-id-image image piece image-view"></div>			
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3 class="bh-id-brand brand"></h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 price">
			<span class="bh-id-regular-price regular-price"></span>
			<span class="bh-id-sale-price sale-price"></span>
		</div>
	</div>
</div>
