<div class="container-fluid bh-id-error-modal error-modal modal hide">
    <header class="row modal-header">
	    <div class="col-md-offset-2 col-md-8">
			<h2 class="bh-id-title title"></h2>
	    </div>
	    <div class="col-md-2 button">
	        <button type="button" class="bh-id-close close">
	        	<img src="/img/quiz/circle-x-mobile.png" class="img-responsive visible-xs-block" />
	        	<img src="/img/quiz/circle-x-desktop.png" class="img-responsive hidden-xs" />
	        </button>
	    </div>
    </header>
    <div class="row modal-content">
        <div class="col-md-12 text-left">

			<p class="bh-id-message"></p>
			
        </div>
    </div>
    <footer class="row modal-footer"></footer>
</div>
