<footer class="container-fluid">

	<div class="row top">
		<div class="col-md-12">

			<div class="row">
				<div class="col-md-9 pages">

					<div class="hidden-xs hidden-sm">
						
						<div class="row">
							<div class="col-md-3">
								<a href="/about">ABOUT US</a>
							</div>
							<div class="col-md-3">
								<a href="/contact">CONTACT US</a>
							</div>
							<div class="col-md-3">
								<a href="/how-it-works">HOW IT WORKS</a>
							</div>
                            <div class="col-md-3">
                                <a href="/press">PRESS ROOM</a>
                            </div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<a href="/careers">CAREERS</a>
							</div>
							<div class="col-md-3">
								<a href="/faq">FAQ</a>
							</div>
							<div class="col-md-3">
								<a href="/brands">OUR BRANDS</a>
							</div>
						</div>
					</div>
					
					<div class="visible-xs-block visible-sm-block">
						
						<div class="row">
							<div class="col-xs-6">
								<a href="/about">ABOUT US</a>
							</div>
							<div class="col-xs-6 right">
								<a href="/how-it-works">HOW IT WORKS</a>
							</div>
						</div>						
						<div class="row">
							<div class="col-xs-6">
								<a href="/careers">CAREERS</a>
							</div>
							<div class="col-xs-6 right">
								<a href="/brands">OUR BRANDS</a>
							</div>
						</div>			
						<div class="row">
							<div class="col-xs-6">
								<a href="/contact">CONTACT US</a>
							</div>
							<div class="col-xs-6 right">
								<a href="/faq">FAQ</a>
							</div>
						</div>
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="/press">PRESS ROOM</a>
                            </div>
                        </div>
                    </div>
					
				</div>
				<div class="col-md-3 social-wrapper">
					
					<ul class="social">
						<li><a href="https://www.facebook.com/allumestyle" target="_blank" rel="noopener noreferrer"><img src="/img/social/facebook.png" class="img-responsive" /></a></li>
						<li><a href="https://www.instagram.com/allumestyle" target="_blank" rel="noopener noreferrer"><img src="/img/social/instagram.png" class="img-responsive" /></a></li>
						<li><a href="https://www.pinterest.com/allumestyle" target="_blank" rel="noopener noreferrer"><img src="/img/social/pinterest.png" class="img-responsive" /></a></li>
					</ul>

				</div>
			</div>
			
		</div>
	</div>
	<div class="row legal">
		
		<div class="inner">
			<div class="col-md-6 col-sm-6">
				<p>&copy; 2017 ALLUME. ALL RIGHTS RESERVED.</p>
			</div>		
			<div class="col-md-6 col-sm-6 terms">
				<a href="/terms">TERMS OF SERVICE</a> | <a href="/privacy">PRIVACY POLICY</a>
			</div>
		</div>
		
	</div>

</footer>
