@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?p2sw5x');
  src:  url('fonts/icomoon.eot?p2sw5x#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?p2sw5x') format('truetype'),
    url('fonts/icomoon.woff?p2sw5x') format('woff'),
    url('fonts/icomoon.svg?p2sw5x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dress-form:before {
  content: "\e900";
}
.icon-hanger:before {
  content: "\e901";
}

/* reset css */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;margin:0;letter-spacing:0px;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym {border:0;}
select, input, textarea {font:99% arial,helvetica,clean,sans-serif;}
pre, code {font:115% monospace;}
a,a:focus,div:focus,ul:focus,input:focus {outline:0px;}
body {background:#fff; font-size:62.5%;font-family:"Barlow", "Helvetica Neue",Helvetica,Arial,sans-serif;}
html {overflow-y:scroll;overflow-x:auto;}
/* page styles */
#header {
  box-shadow:0 0 3px rgba(0,0,0,0.2);
  height:80px;
}
#header a.logo {
  color:#000;
  display:block;
  float:left;
  font-size:40px;
  height:80px;
  line-height:80px;
  padding:0 20px 0 5px;
  text-decoration:none;
}
#header a.logo i {font-size:48px; position:relative; top:7px;}

#content {
  margin:15px;
  overflow:auto;
}
#search {
  box-sizing: border-box;
  float:left;
  padding-right:15px;
  width:20%
}
#results-wrapper {
  box-sizing: border-box;
  float:left;
  width:80%;
}
a#search-btn {
  background:#f2987e;
  border-radius:3px;
  color:#fff;
  float:right;
  font-size:14px;
  padding:9px 20px;
  margin:0;
  text-decoration: none;
  text-transform: uppercase;
}
a#search-btn:hover {background:#ed8365;}
a#search-btn:active {
  background:#fff;
  box-shadow:inset 0 0 3px rgba(0,0,0,0.3);
  color:#474747;
}
#search label {
  color:#777;
  display:block;
  font-size:14px;
  font-weight:200;
  margin-bottom:10px;

}
input.search {
  background:#fff;
  border:1px solid #d0d0d0;
  border-radius:3px;
  display:block;
  font-size:14px;
  font-weight:200;
  padding:8px;
  width:calc(100% - 130px);
}
#facet-bar {}
#results {overflow:auto; width:100%;}
#results div.no-results {
  color:#474747;
  font-size:18px;
  padding:10px;
}
#results h4 {
  color:#999;
  font-size:40px;
  font-weight:100;
  text-align: center;
  padding:5% 0 0;
}
#results div.item {
  box-shadow: 0 0 2px rgba(34, 25, 25, 0.4);
  float:left;
  margin:5px 7.5px 10px;
  padding:0 0 8px;
  width:calc((100% / 3) - 15px);  
}
#results div.item img {
  display:block;
  height:350px;
  width:350px;
  margin:auto;
}
#results div.item div.image {position:relative;}
#results div.item div.image a.favorite {
  color:#EC407A;
  font-size:28px;
  position:absolute;
  right:15px;
  top:10px;
}
#results div.item span.name {
  background:#fafafa;
  border-bottom:1px solid #eee;
  border-top:1px solid #eee;
  color:#474747;
  display:block;
  font-size:18px;
  font-weight:400;
  margin-bottom:10px;
  padding:15px;
}
#results div.item span.price,
#results div.item span.avail,
#results div.item span.manu,
#results div.item span.merch,
#results div.item span.size {
  color:#474747;
  display:block;
  font-size:16px;
  font-weight:500;
  padding:2px 15px;

}
#results div.item span.manu {font-weight:300; color:#676767;}
#results div.item span.avail {float:right; font-weight:200;}
#results div.item span.price em,
#results div.item span.size em {padding-right:8px;}
#results div.item span.price.strike {color:#D32F2F; text-decoration: line-through;}


#facets {
  border-bottom:1px solid #eee;
  margin-top:20px; 
}
#facets a.facet-group {
  border-top:1px solid #eee;
  color:#474747;
  display:block;
  font-size:14px;
  font-weight:500;
  padding:15px 10px;
  position:relative;
  text-decoration:none;
}
#facets a.facet-group:hover,
#facets a.facet-group.on {background:#fafafa;}
#facets a.facet-group span {
  font-size:26px; 
  font-weight:200;
  line-height:16px;
  overflow:hidden;
  position:absolute;
  right:10px;
  top:12px;
}
#facets a.facet-link {
  color:#474747;
  display:block;
  font-size:12px;
  font-weight:200;
  padding:10px 15px 8px;
  text-decoration:none;
}
#facets a.facet-link em {
  color:#777; 
  float:right;
  font-weight:200; 
  padding-bottom:2px;
}
#facets a.facet-link span {
  border-bottom:2px solid #fff;
  display:inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;  
  vertical-align: top; 
}

#facets a.facet-link:hover span {border-bottom-color:#474747;}
#facets div.facet-list {display:none;}
#facets div.facet-list label.facet {
  color:#474747;
  display:block;
  font-size:12px;
  font-weight:200;
  padding:10px;
  text-decoration:none;  
}
#facets div.facet-list label.facet input {display:none;}
#facets div.facet-list label.facet span { color: #42A5F5 }
#facets div.facet-list label.facet i {display:inline-block;}
#facets div.facet-list label.facet input + span i.fa-check-circle {display:none;}
#facets div.facet-list label.facet input:checked + span i.fa-circle-thin {display:none;}
#facets div.facet-list label.facet input:checked + span i.fa-check-circle {display:inline-block;}
#facets div.facet-list label.facet em.key {display:inline-block; margin-left:5px;}
#facets div.facet-list label.facet:hover em.key,
#facets div.facet-list label.facet input:checked + span + em + em.key {color:#42A5F5;}
#facets div.facet-list label.facet em.number { color:#777; float:right; font-weight:200;}

@-webkit-keyframes heartbeat {
  0% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  14% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  28% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  42% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  70% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
}
@-moz-keyframes heartbeat {
  0% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  14% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  28% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  42% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  70% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
}
@keyframes heartbeat {
  0% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  14% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  28% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  42% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  70% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
}
.pulse_message {
  color:#555;
  font-size:28px;
  font-weight:100;
  line-height:48px;
  padding-left:22px;
}
/* :not(:required) hides this rule from IE9 and below */
.pulse_loader:not(:required) {
  -webkit-animation: heartbeat 1300ms ease 0s infinite normal;
  -moz-animation: heartbeat 1300ms ease 0s infinite normal;
  animation: heartbeat 1300ms ease 0s infinite normal;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  width: 36px;
  height: 36px;
  -webkit-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.pulse_loader:not(:required):after, .pulse_loader:not(:required):before {
  position: absolute;
  content: "";
  background: #D81B60;
}
.pulse_loader:not(:required):before {
  border-top-left-radius:  12px;
  border-bottom-left-radius: 12px;
  top: 12px;
  left: 0;
  width: 36px;
  height: 24px;
}
.pulse_loader:not(:required):after {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
  left: 12px;
  width: 24px;
  height: 12px;
}
.pulse_loader.faster:not(:required) {
  -webkit-animation: heartbeat 900ms ease 0s infinite normal;
  -moz-animation: heartbeat 900ms ease 0s infinite normal;
  animation: heartbeat 900ms ease 0s infinite normal;
}
div.loader {padding:10px 20px; text-align:center;}
#pager {overflow:auto; padding:15px 5px; text-align:center;}
#pager a.page,
#pager span.current {
  border-radius:15px;
  color:#474747;
  display:inline-block;
  font-size:13px;
  font-weight:200px;
  height:30px;
  line-height:30px;
  margin:0 2.5px;
  text-align: center;
  text-decoration: none;
  width:30px;
}
#pager span.current {background:#ddd; font-weight:500;}
#pager a.page:hover {background:#eee;}
#pager a.page:active {background-color:#42A5F5; color:#fff;}
#pager a.page.next,
#pager a.page.prev {
  color:#999;
  font-weight: 100;
  position:relative;
  top:-3px;
  width:inherit;
}
#pager a.page.next {float:right;}
#pager a.page.prev {float:left;}
#pager a.page.next:hover,
#pager a.page.prev:hover {background:#fff; color:#777;}
#pager a.page.next:active,
#pager a.page.prev:active {background:#fff; color:#42A5F5; box-shadow: none}
#pager a.page.prev i {position:relative; top:4px; font-size:26px;padding-right:8px;}
#pager a.page.next:active i,
#pager a.page.prev:active i {color:#777;}
#pager a.page.next i {position:relative; top:4px; font-size:26px;padding-left:8px;}
#pager-message {
  color:#777;
  font-size:16px;
  font-weight:100;
  margin:10px 0;
  padding:0 5px;
}
#pager-message strong {font-weight:400;}
a#rack-toggle {
  background:#f2987e;
  border-radius:5px;
  bottom:15px;
  box-shadow:0 1px 2px rgba(0,0,0,0.3);
  color:#fff;
  font-size:18px;
  font-variant: small-caps;
  font-weight:500;
  position:fixed;
  padding:15px 0;
  left:15px;
  text-align: center;
  text-decoration:none;
  width:215px;
  z-index:4;
}
a#rack-toggle span {font-weight:700; padding-right:5px;}
a#rack-toggle:hover {background:#ed8365;}
a#rack-toggle:active{  
  background:#fff;
  box-shadow:inset 0 0 3px rgba(0,0,0,0.3);
  color:#474747;
}
div#rack {
  background:#fff;
  box-shadow:0 0 3px rgba(0,0,0,0.3);
  height:100%;
  left:-515px;
  position:fixed;
  top:0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;    
  width:500px;
  z-index:5;
}
div#rack.show {left:0;}
div#rack h2 {
  border-bottom:1px solid #eee;
  font-size:18px;
  font-weight:300;
  padding:0 15px;
  height:49px;
  line-height:49px;
}
div#rack h2 i {
  font-size:40px;
  line-height:10px;
  margin-right:8px;
  position:relative;
  top:10px;
}
div#rack-list {
  height:calc(100% - 110px);
  overflow:auto;
}
div#rack-btns {
  border-top:1px solid #ddd;
  padding:10px 15px;
}
div#rack-btns a {
  background:#f2987e;
  border-radius:5px;
  color:#fff;
  display:inline-block;
  font-size:18px;
  font-variant: small-caps;
  font-weight:500;
  padding:7px 15px 10px;
  text-align: center;
  text-decoration:none;
  z-index:4;
}
div#rack-btns a:hover {background:#ed8365;}
div#rack-btns a:active{  
  background:#fff;
  box-shadow:inset 0 0 3px rgba(0,0,0,0.3);
  color:#474747;
}
div#rack-btns span {
  color:#474747;
  float:right;
  font-size:18px;
  font-weight:500;
  padding:7px 0 10px;  
}
div#rack-list div.empty {
  color:#777;
  font-size:18px;
  font-weight:300;
  padding:15px;
}
div#rack-list div.item {
  box-shadow: 0 0 2px rgba(34, 25, 25, 0.4);
  margin:15px;
  overflow:auto;
  padding:10px;
  position:relative;
}

div#rack-list div.item div.image { float:left; width:80px;}
div#rack-list div.item div.image img {display:block;margin:auto;}
div#rack-list div.item div.details { float:left; width:(100% - 80px);}
div#rack-list div.item span.name {
  color:#474747;
  display:block;
  font-size:14px;
  font-weight:400;
  padding:0 0 2px;
}
div#rack-list div.item span.price,
div#rack-list div.item span.avail,
div#rack-list div.item span.manu,
div#rack-list div.item span.merch,
div#rack-list div.item span.size {
  color:#474747;
  display:block;
  font-size:12px;
  font-weight:500;
  padding:2px 0;

}
div#rack-list div.item span.manu {font-weight:300; color:#676767;}
div#rack-list div.item span.avail {font-weight:200; position:absolute; right:10px;}
div#rack-list div.item span.price em,
div#rack-list div.item span.size em {padding-right:6px;}
div#rack-list div.item span.price.strike {color:#D32F2F; text-decoration: line-through;}
#close-rack {
  color:#bbb;
  font-size:20px;
  padding:8px 15px;
  position:absolute;
  right:0;
  text-align:center;
  text-decoration: none;
  top:3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;  
}
#close-rack:hover {color:#474747;}
#close-rack:active {color:#0090D9;}
a.add-to-rack {
  border:1px solid #ddd;
  border-radius:3px;
  color:#777;
  display:inline-block;
  font-size:11px;
  font-variant:small-caps;
  margin:8px 15px 5px;
  padding:3px 8px 4px;
  text-decoration: none;
  text-transform:lowercase;
}
a.add-to-rack i {font-size:18px; line-height:6px; padding-right:4px; position:relative; top:4px;}
a.add-to-rack i.fa {font-size:10px; line-height:11px; padding-right:4px; position:relative; top:0px;}
a.add-to-rack:hover {
  background:#f7f7f7;
  border-color:#ccc;
  color:#474747;
}
a.add-to-rack:active {
  background:#fff;
  border-color:#fff;
  box-shadow:inset 0 0 3px rgba(0,0,0,0.3);
  color:#474747;
}
a.add-to-rack.selected {
  background:#666;
  box-shadow:inset 0 0 4px rgba(0,0,0,0.5);
  border-color:#666;
  color:#fff;
  text-shadow:0 1px #333;
}
a.remove-from-rack {
  color:#bbb;
  font-size:16px;
  padding:5px 10px;
  position:absolute;
  right:0;
  text-align:center;
  text-decoration: none;
  top:0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;   
}
a.remove-from-rack:hover {color:#474747;}
a.remove-from-rack:active {color:#0090D9;}
div.already-in-rack {
  position:absolute;
  width:100px;
  z-index:4;
}
div.already-in-rack span.msg {
  background:rgba(0,0,0,0.75);
  border-radius:3px;
  color:#fff;
  display:block;
  font-size:11px;
  font-weight:200;
  padding:5px;
  text-shadow:0 1px #000;
}
div.already-in-rack span.tail {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(0,0,0,0.75);  
  display:block;
  height:0;
  margin-left:45px;
  width:0;
}

#user-card {
  position:fixed;
  right:20px;
  top:15px;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;   
  width:inherit;
  z-index:6;  
}
#user-card.show {border-radius:5px; width:500px; }
#user-card #user-clip {
  background:#f2987e;
  border-radius:25px;
  color:#fff;
  display:inline-block;
  font-size:20px;
  font-weight:300;
  height:50px;
  line-height:50px;
  overflow:hidden;
  padding:0;
  position:absolute;
  top:0;
  right:0;
  text-decoration: none;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  width:50px;
  z-index:3;  
}
#user-card #user-clip.ready {box-shadow:0 0 3px rgba(0,0,0,0.3);padding:0 65px 0 20px;}
#user-card #user-clip span.name {
  display:inline-block; 
  left:20px;
  line-height:48px; 
  position:absolute;
  top:0; 
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;  
  vertical-align:top; 
  white-space:nowrap;
}

#user-card #user-clip span.name em {
  display:inline-block;
  font-weight:300;
  overflow:hidden; 
  padding-right:5px; 
  width:100px;
  -webkit-transition: all 1s ease-in-out;
  vertical-align:top;
}
#user-card.show #user-clip span.name em {width:0;padding:0;}
#user-card #user-clip span.expanded {
  display:block;
  font-size:14px;
  font-weight:200;
  line-height:18px;
  padding-left:0;
  overflow:hidden;
  opacity:0;  
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; 
  white-space: nowrap;
  width:0;
}
#user-card #user-clip span.expanded em {font-weight:200; font-variant:small-caps; padding-right:5px; }

#user-card #user-clip img.client {
  border-radius:50%;
  display:inline-block;
  height:50px;
  position:absolute;
  right:0;
  top:0;
  vertical-align: top;
  width:50px;
  -webkit-transition: all 1s ease-in-out; 
  transition: all 1s ease-in-out;     
}
#user-card div.details {
  background:#fff;
  box-shadow:none;
  border-radius:0;
  height:0;
  overflow:hidden;
  position:absolute;
  right:0;
  top:50px;
  -webkit-transition: border-radius 1s ease-in-out, width 1s ease-in-out,top 1s ease-in-out,box-shadow 1s ease-in-out,height 0.2s ease-in-out;
  transition: border-radius 1s ease-in-out,width 1s ease-in-out,top 1s ease-in-out,box-shadow 1s ease-in-out,height 0.2s ease-in-out; 
  width:0;
  z-index:2; 
}

#user-card.show #user-clip.ready {
  background:#000;
  border-radius:0;
  border-top-right-radius: 5px;
  border-top-left-radius:5px;
  padding:0;
  height:130px;
  width:500px !important;
}
#user-card.show #user-clip span.name{ left:130px;}
#user-card.show #user-clip img.client {
  height:100px;
  right:385px;
  top:15px;
  width:100px;
}
#user-card.show #user-clip span.expanded {
  opacity:1;
  padding-left:130px;
  width:365px;
}
#user-card.show #user-clip span.expanded.locale {
  padding-top:38px;
  padding-bottom:3px;
  font-size:16px;
}
#user-card.show div.details {
  box-shadow:0 0 3px rgba(0,0,0,0.3);
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
  height:630px;
  top:130px;
  -webkit-transition: border-radius 1s ease-in-out,width 1s ease-in-out,top 1s ease-in-out,box-shadow 1s ease-in-out,height 0.5s ease-in-out 0.75s;
  transition: border-radius 1s ease-in-out,width 1s ease-in-out,top 1s ease-in-out,box-shadow 1s ease-in-out,height 0.5s ease-in-out 0.75s; 
  width:500px;
}
#user-card div.weather,
#user-card div.demo {
  border-bottom:1px solid #ddd;
  overflow:auto;
  width:500px;
}
#user-card div.notes {
  width:500px;
}
#user-card div.notes div.notes-wrapper {
  overflow:auto;
  height:290px;
}
#user-card div.demo {
  padding:10px 0 ;
}
#user-card div.weather span {
  border-right:1px solid #eee; 
  float:left; 
  margin:15px 0;
  width:calc(25% - 1px);
}
#user-card div.demo div.left {
  border-right:1px solid #eee;
  float:left; 
  width:calc(50% - 1px);  
}
#user-card div.demo div.right{
  float:left; 
  width:50%;  
}
#user-card div.demo span{
  display:block;
  font-size:14px;
  font-weight:200;
  height:18px;
  line-height:18px;
  overflow:hidden;
  padding:0 10px;
  text-align: right;
}
#user-card div.demo span em {float:left; font-weight:200; padding-right:5px;}
#user-card div.weather span:nth-of-type(4) {border:0;}
#user-card div.weather span em {
  color:#999;
  display:block;
  font-size:18px;
  font-size:200;
  line-height:24px;
  text-align:center;
  text-transform: uppercase;
}
#user-card div.weather span em.desc{
  color:#777;
  font-size:12px;
}
#user-card div.weather span i {
  color:#666;
  display:block;
  font-size:40px;
  height:65px;
  line-height:65px;
  text-align:center;
}
#user-card div.notes h6 {
  color:#474747;
  font-size:16px;
  font-size:200;
  padding:10px;
}
#user-card div.notes div.note {
  background:#f3f3f3;
  border-radius:5px;
  font-size:14px;
  font-size:200;
  line-height:20px;  
  margin:5px 15px 10px 15px;
  padding:0
  text-shadow:0 1px #fff;
}
#user-card div.notes div.note table td {
  font-size:16px;
  font-size:200; 
  line-height:20px;
  padding:10px; 
  vertical-align: middle;
  
}
#user-card div.notes div.note table td.date {
  background:#000;
  border-bottom-left-radius:5px;
  border-top-left-radius:5px;  
  color:#fff;
  font-size:14px;
  font-size:200;
  line-height:20px;  
  padding:10px 0;
  text-align:center;
  width:65px;
}

#facet-bar {
  background:#fafafa;
  border:1px solid #ddd;
  border-radius:3px;
  margin:0 5px 10px;
  overflow: auto;
  opacity:0;
  padding:9px 10px 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;    
}
#facet-bar.show {opacity:1;}
#facet-bar span.title {
  color:#999;
  float:left;
  font-size:12px;
  font-weight:700;
  padding:2px 0 10px;
  text-transform: uppercase;
}
#facet-bar span#search-form-selections {
  display:block;
  margin-left:108px;
  width:calc(100% - 108px);
}
#facet-bar a {
  color:#474747;
  display:inline-block;
  font-size:14px;
  font-weight:300;
  margin:0 5px 5px 0;
  text-decoration: none;
}
#facet-bar a i {
  color:#42A5F5;
  font-size:12px;
  margin-left:5px;
  position:relative;
  top:0px;
}





