@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?p2sw5x');
  src:  url('fonts/icomoon.eot?p2sw5x#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?p2sw5x') format('truetype'),
    url('fonts/icomoon.woff?p2sw5x') format('woff'),
    url('fonts/icomoon.svg?p2sw5x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dress-form:before {
  content: "\e900";
}
.icon-hanger:before {
  content: "\e901";
}

/* reset css */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;margin:0;letter-spacing:0px;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym {border:0;}
select, input, textarea {font:99% "Barlow","Helvetica Neue",Helvetica,Arial,sans-serif;}
pre, code {font:115% monospace;}
a,a:focus,div:focus,ul:focus,input:focus {outline:0px;}
body {background:#fff; font-size:62.5%;font-family:"Barlow", "Helvetica Neue",Helvetica,Arial,sans-serif;}
html {overflow-y:scroll;overflow-x:auto;}
/* page styles */
#header { box-shadow:0 0 3px rgba(0,0,0,0.2); height:80px; }
#header a.logo {
  color:#000;
  display:block;
  float:left;
  font-size:40px;
  height:80px;
  line-height:80px;
  padding:0 20px 0 5px;
  text-decoration:none;
}
#header a.logo i {font-size:48px; position:relative; top:7px;}
#header span#stylist {
  position:absolute;
  right:25px;
  top:66px;
  font-size:10px;
  font-weight:400;
}
#menu-toggle {
  border-right:1px solid #eee;
  color:#000;
  float:left;
  height:80px;
  font-size:40px;
  line-height:80px;
  text-align:center;
  text-decoration: none;
  width:80px;
}
#menu-toggle:hover {background:rgba(0,0,0,0.05);}
#menu-toggle:active {color:#ed8365;}
#nav-menu {
  background:rgba(0,0,0,0.6);
  display:none;
  height:100%;
  left:0;
  position: fixed;
  top:0;
  width:100%;
  z-index: 999;
}
#nav-menu .menu {
  background:#fff;
  box-shadow:0 0 3px rgba(0,0,0,0.8);
  height:100%;
  left:-300px;
  position:absolute;
  top:0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;   
  width:300px;
}
#nav-menu .menu.show {left:0;}
#nav-menu .menu h2 {
  border-bottom:1px solid #ddd;
  font-size: 28px;
  font-weight:100;
  padding:15px 10px;
}
#nav-menu .menu h2 i {font-size:24px;margin-right:3px;}
#nav-menu .menu a.menu-item {
  color:#777;
  display:block;
  font-size:22px;
  font-weight:100;
  padding:15px 20px;
  text-decoration: none;
  -webkit-transition: padding 0.3s ease-in-out, background 0.3s ease-in-out;
  transition: padding 0.3s ease-in-out, background 0.3s ease-in-out;    
}
#nav-menu .menu a.menu-item.top {margin-top:15px;}
#nav-menu .menu a.menu-item i {margin-right:8px;}
#nav-menu .menu a.menu-item:hover {
  background:rgba(0,0,0,0.05);
  color:#474747;
  padding-left:30px;
}
#nav-menu .menu a.menu-item:active {color:#ed8365;}
a#close-nav-menu {
  color:#bbb;
  font-size:20px;
  padding:8px 15px;
  position:absolute;
  right:0;
  text-align:center;
  text-decoration: none;
  top:11px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;  
}
a#close-nav-menu :hover {color:#474747;}
a#close-nav-menu :active {color:#0090D9;}
#content { margin:15px;  }
#search {
  float:left;
  overflow:visible;
  padding:0 15px 78px 0;
  width:calc(20% - 15px);
}
#search .selectize-control {margin-bottom:10px;}
#search-categories {display:none;}
#results-wrapper { box-sizing: border-box; float:left; width:80%; }
a#search-btn {
  background:#f2987e;
  border-radius:3px;
  color:#fff;
  float:right;
  font-size:14px;
  padding:9px 20px;
  margin:0;
  text-decoration: none;
  text-transform: uppercase;
}
a#search-btn:hover {background:#ed8365;}
a#search-btn:active { background:#fff; box-shadow:inset 0 0 3px rgba(0,0,0,0.3); color:#474747; }
#search label {
  color:#777;
  display:block;
  font-size:14px;
  font-weight:200;
  margin-bottom:10px;
}
#search label strong {color:#000;}
input.search {
  background:#fff;
  border:1px solid #d0d0d0;
  border-radius:3px;
  display:block;
  font-size:14px;
  font-weight:200;
  padding:8px;
  width:calc(100% - 130px);
}
#facet-bar {}
#results {overflow:auto; width:100%;}
#results div.no-results {
  color:#474747;
  font-size:18px;
  padding:10px;
}
#results h4 {
  color:#999;
  font-size:40px;
  font-weight:100;
  text-align: center;
  padding:5% 0 0;
}
#results div.item {
  box-shadow: 0 0 2px rgba(34, 25, 25, 0.4);
  float:left;
  margin:5px 7.5px 10px;
  padding:0 0 8px;
  width:calc((100% / 3) - 15px);  
}
#results div.item img {
  display:block;
  height:350px;
  max-width:100%;
  margin:0 auto;
}
#results div.item div.image {position:relative;}
#results div.item div.image a.favorite {
  color:#EC407A;
  font-size:28px;
  position:absolute;
  right:15px;
  top:10px;
}
#results div.item a.name {
  background:#fafafa;
  border-bottom:1px solid #eee;
  border-top:1px solid #eee;
  color:#474747;
  display:block;
  font-size:18px;
  font-weight:400;
  margin-bottom:10px;
  overflow:hidden;
  padding:15px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#results div.item a.name:hover {text-decoration: underline}
#results div.item span.price,
#results div.item span.avail,
#results div.item span.manu,
#results div.item span.merch,
#results div.item span.size {
  color:#474747;
  display:block;
  font-size:16px;
  font-weight:500;
  padding:2px 15px;

}
#results div.item span.manu {font-weight:300; color:#676767;}
#results div.item span.avail {float:right; font-weight:200;}
#results div.item span.price em {color:#D32F2F; display:inline-block; padding-right: 8px; text-decoration: line-through;}


#facets {
  border-bottom:1px solid #eee;
  margin-top:20px; 
}
#facets a.facet-group {
  border-top:1px solid #eee;
  color:#474747;
  display:block;
  font-size:14px;
  font-weight:500;
  padding:15px 10px;
  position:relative;
  text-decoration:none;
}
#facets a.facet-group:hover,
#facets a.facet-group.on {background:#fafafa;}
#facets a.facet-group span {
  font-size:26px; 
  font-weight:200;
  line-height:16px;
  overflow:hidden;
  position:absolute;
  right:10px;
  top:12px;
}
#facets a.facet-link {
  color:#474747;
  display:block;
  font-size:12px;
  font-weight:200;
  padding:10px 15px 8px;
  text-decoration:none;
}
#facets a.facet-link em {
  color:#777; 
  float:right;
  font-weight:200; 
  padding-bottom:2px;
}
#facets a.facet-link span {
  border-bottom:2px solid #fff;
  display:inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;  
  vertical-align: top; 
}

#facets a.facet-link:hover span {border-bottom-color:#474747;}
#facets div.facet-list {display:none;}
#facets div.facet-list label.facet {
  color:#474747;
  display:block;
  font-size:12px;
  font-weight:200;
  padding:10px;
  text-decoration:none;  
}
#facets div.facet-list label.facet input {display:none;}
#facets div.facet-list label.facet span { color: #42A5F5 }
#facets div.facet-list label.facet i {display:inline-block; padding-top:2px; vertical-align: top;}
#facets div.facet-list label.facet input + span i.fa-check-circle {display:none;}
#facets div.facet-list label.facet input:checked + span i.fa-circle-thin {display:none;}
#facets div.facet-list label.facet input:checked + span i.fa-check-circle {display:inline-block;}
#facets div.facet-list label.facet em.key {
  display:inline-block; 
  margin-left:5px;
  overflow:hidden;
  vertical-align: top;
  width:calc(100% - 75px);
}
#facets div.facet-list label.facet:hover em.key,
#facets div.facet-list label.facet input:checked + span + em + em.key {color:#42A5F5;}
#facets div.facet-list label.facet em.number { 
  color:#777; 
  float:right; 
  font-weight:200; 
  text-align: right;
  vertical-align:top; 
  width:50px;
}

@-webkit-keyframes heartbeat {
  0% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  14% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  28% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  42% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  70% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
}
@-moz-keyframes heartbeat {
  0% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  14% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  28% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  42% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  70% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
}
@keyframes heartbeat {
  0% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  14% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  28% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  42% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  70% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
}
.pulse_message {
  color:#555;
  font-size:28px;
  font-weight:100;
  line-height:48px;
  padding-left:22px;
}
/* :not(:required) hides this rule from IE9 and below */
.pulse_loader:not(:required) {
  -webkit-animation: heartbeat 1300ms ease 0s infinite normal;
  -moz-animation: heartbeat 1300ms ease 0s infinite normal;
  animation: heartbeat 1300ms ease 0s infinite normal;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  width: 36px;
  height: 36px;
  -webkit-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.pulse_loader:not(:required):after, .pulse_loader:not(:required):before {
  position: absolute;
  content: "";
  background: #D81B60;
}
.pulse_loader:not(:required):before {
  border-top-left-radius:  12px;
  border-bottom-left-radius: 12px;
  top: 12px;
  left: 0;
  width: 36px;
  height: 24px;
}
.pulse_loader:not(:required):after {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
  left: 12px;
  width: 24px;
  height: 12px;
}
.pulse_loader.faster:not(:required) {
  -webkit-animation: heartbeat 900ms ease 0s infinite normal;
  -moz-animation: heartbeat 900ms ease 0s infinite normal;
  animation: heartbeat 900ms ease 0s infinite normal;
}
div.loader {padding:10px 20px; text-align:center;}
#inspect-item div.loader {
  font-style: italic;
  margin:50px 25px;
  text-align:left;

}
#pager {overflow:auto; padding:15px 5px; text-align:center;}
#pager a.page,
#pager span.current {
  border-radius:15px;
  color:#474747;
  display:inline-block;
  font-size:13px;
  font-weight:200px;
  height:30px;
  line-height:30px;
  margin:0 2.5px;
  text-align: center;
  text-decoration: none;
  width:30px;
}
#pager span.current {background:#ddd; font-weight:500;}
#pager a.page:hover {background:#eee;}
#pager a.page:active {background-color:#42A5F5; color:#fff;}
#pager a.page.next,
#pager a.page.prev {
  color:#999;
  font-weight: 100;
  position:relative;
  top:-3px;
  width:inherit;
}
#pager a.page.next {float:right;}
#pager a.page.prev {float:left;}
#pager a.page.next:hover,
#pager a.page.prev:hover {background:#fff; color:#777;}
#pager a.page.next:active,
#pager a.page.prev:active {background:#fff; color:#42A5F5; box-shadow: none}
#pager a.page.prev i {position:relative; top:4px; font-size:26px;padding-right:8px;}
#pager a.page.next:active i,
#pager a.page.prev:active i {color:#777;}
#pager a.page.next i {position:relative; top:4px; font-size:26px;padding-left:8px;}
#pager-message {
  color:#777;
  font-size:16px;
  font-weight:100;
  margin:10px 0;
  padding:0 5px;
}
#pager-message strong {font-weight:400;}
a#rack-toggle {
  background:#f2987e;
  border-radius:5px;
  bottom:15px;
  box-shadow:0 1px 2px rgba(0,0,0,0.3);
  color:#fff;
  font-size:18px;
  font-variant: small-caps;
  font-weight:500;
  position:fixed;
  padding:15px 0;
  left:15px;
  text-align: center;
  text-decoration:none;
  width:215px;
  z-index:4;
}
a#rack-toggle span {font-weight:700; padding-right:5px;}
a#rack-toggle:hover {background:#ed8365;}
a#rack-toggle:active{  
  background:#fff;
  box-shadow:inset 0 0 3px rgba(0,0,0,0.3);
  color:#474747;
}
div#rack {
  background:#fff;
  box-shadow:0 0 3px rgba(0,0,0,0.3);
  height:100%;
  left:-585px;
  position:fixed;
  top:0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;    
  width:570px;
  z-index:6;
}
div#look-list {
  background:#fff;
  border-top-right-radius: 5px;
  box-shadow:0 0 3px rgba(0,0,0,0.3);
  height:calc(100% - 50px);
  left:-205px;
  position:fixed;
  top:50px;   
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;     
  width:200px;
  z-index:4;  
  position: fixed;
}
div#rack.show {left:0;}
div#look-list.show {left:570px;}
div#rack h2,
div#look-list h2,
div#design-look h2,
#compare-looks h2,
#rack-draggable h2 {
  border-bottom:1px solid #eee;
  font-size:18px;
  font-weight:300;
  padding:0 15px;
  height:49px;
  line-height:49px;
}
div#look-list h2 {font-size:14px; font-weight:500;}
#compare-looks h2 {background:#fff;border-bottom:1px solid#ddd; position:relative; z-index:5;}
#rack-draggable h2 {background:#fff; border-bottom:1px solid#ddd; margin:-5px 0 0; padding:5px 15px 0; }
#compare-looks h2 a.look-filter {
  border:1px solid #ddd;
  border-radius:5px;
  color:#000;
  display:inline-block;
  font-weight:400;
  line-height:18px;
  margin: 0 5px;
  padding: 5px 7px 7px;
  position:relative;
  top:0px;
  text-decoration: none;
}#compare-looks h2 a.look-filter i {margin-left:3px; font-size:14px;}
#compare-looks h2 a.look-filter:hover { border-color:#ccc; box-shadow:0 1px 1px rgba(0,0,0,0.1);}
#compare-looks h2 a.look-filter:active,
#compare-looks h2 a.look-filter.open{ 
  border-color:#444; 
  background:#444;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.8);
  color:#fff;
}
div#design-look h2 span {font-weight:500;}
div#look-links { height:calc(100% - 60px); overflow:auto; padding:5px 0;}
div#look-links a.look-link {
  box-shadow: 0 0 2px rgba(34, 25, 25, 0.4);
  color:#474747;
  display:block;
  margin:5px 10px 10px;
  text-decoration:none;
}
div#look-links a.look-link i {font-size:20px;}
div#look-links a.look-link table td { padding:5px; vertical-align:top; }
div#look-links a.look-link table td.icon {border-right:1px solid #eee; vertical-align: middle}
div#look-links a.look-link table span {display:block;}
div#look-links a.look-link table span.name {font-size:14px; font-weight:300; padding-bottom:2px;}
div#look-links a.look-link table span.layout {color:#999; font-size:12px; font-weight:100;}
div#look-links a.look-link:hover i {color:#f2987e;}
div#look-links a.look-link:active  {box-shadow:inset 0 0 3px rgba(0,0,0,0.3);}
div#rack h2 i {
  font-size:40px;
  line-height:10px;
  margin-right:8px;
  position:relative;
  top:10px;
}
#rack-draggable h2 i {
  font-size:40px;
  line-height:10px;
  margin-right:8px;
  position:relative;
  top:10px;  
}
div#rack-list {
  height:calc(100% - 125px);
  padding:7.5px;
  overflow:auto;
}
div#favorites-list {
  background:#fff;
  height:calc(100% - 125px);
  left:-580px;
  padding:7.5px;
  position:absolute;
  overflow:auto;
  top:50px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;   
  width:555px;
  z-index:2;
}
div#favorites-list.show {left:0;}
div#rack-list div.empty {
  color:#777;
  font-size:18px;
  font-weight:300;
  padding:15px;
}
div#rack-list div.item,
div#favorites-list div.item {
  box-shadow: 0 0 2px rgba(34, 25, 25, 0.4);
  margin:7.5px;
  float:left;
  overflow:auto;
  padding:5px 10px 5px;
  position:relative;
}
div#rack-list div.item div.image,
div#favorites-list div.item div.image { height:150px; width:150px; }
div#rack-list div.item div.image img,
div#favorites-list div.item div.image img {display:block;margin:0 auto; height:150px; max-width:100%;}
div#rack-list div.item div.details { }
div#rack-list div.item span.price,
div#favorites-list div.item span.price{
  color:#474747;
  display:block;
  font-size:12px;
  font-weight:500;
  padding:5px 0 0;
  text-align:center;

}
div#rack-list div.item span.price em,
div#favorites-list div.item span.price em {color:#D32F2F; display:inline-block; text-decoration: line-through; margin-right:8px;}
div#rack-btns {
  border-top:1px solid #ddd;
  padding:10px 15px;
}

div#favorites-list div.item span.favorited {
  color:#EC407A;
  font-size:18px;
  position:absolute;
  right:5px;
  top:0;
}
div#favorites-list div.item a {
  display:block;
  text-decoration:none;
}

div#rack-btns a,
#create-new-look {
  background:#f2987e;
  border-radius:5px;
  color:#fff;
  display:inline-block;
  font-size:18px;
  font-variant: small-caps;
  font-weight:500;
  padding:7px 15px 10px;
  text-align: center;
  text-decoration:none;
  z-index:4;
}
div#rack-btns a#favorites-toggle {
  margin-left:8px;
  background:#EC407A;
}
#create-new-look {margin:15px 0 0 15px;}
div#rack-btns a:hover,
#create-new-look:hover {background:#ed8365;}
div#rack-btns a#favorites-toggle:hover {background:#E91E63;}
div#rack-btns a:active,
#create-new-look:active,
div#rack-btns a#favorites-toggle:active{  
  background:#fff;
  box-shadow:inset 0 0 3px rgba(0,0,0,0.3);
  color:#474747;
}
div#rack-btns span {
  color:#474747;
  float:right;
  font-size:18px;
  font-weight:500;
  padding:7px 0 10px;  
}
#close-rack, 
#cancel-new-look,
#close-design-look,
#close-cropper,
#look-indepth a.close-indepth,
#inspect-item a.close-inspect {
  color:#bbb;
  font-size:20px;
  padding:8px 15px;
  position:absolute;
  right:0;
  text-align:center;
  text-decoration: none;
  top:3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;  
}
#close-rack:hover,
#cancel-new-look:hover,
#close-design-look:hover,
#look-indepth a.close-indepth:hover,
#inspect-item a.close-inspect:hover,
#close-cropper:hover {color:#474747;}
#close-rack:active,
#cancel-new-look:active,
#close-design-look:active,
#look-indepth a.close-indepth:active,
#inspect-item a.close-inspect:active,
#close-cropper:active {color:#0090D9;}
a.add-to-rack {
  border:1px solid #ddd;
  border-radius:3px;
  color:#777;
  display:inline-block;
  float:right;
  font-size:11px;
  font-variant:small-caps;
  margin:0 15px;
  padding:3px 8px 4px;
  text-decoration: none;
  text-transform:lowercase;
}
a.add-to-rack i {font-size:18px; line-height:6px; padding-right:4px; position:relative; top:4px;}
a.add-to-rack i.fa {font-size:10px; line-height:11px; padding-right:4px; position:relative; top:0px;}
a.add-to-rack:hover {
  background:#f7f7f7;
  border-color:#ccc;
  color:#474747;
}
a.add-to-rack:active {
  background:#fff;
  border-color:#fff;
  box-shadow:inset 0 0 3px rgba(0,0,0,0.3);
  color:#474747;
}
a.add-to-rack.selected {
  background:#666;
  box-shadow:inset 0 0 4px rgba(0,0,0,0.5);
  border-color:#666;
  color:#fff;
  text-shadow:0 1px #333;
}
a.remove-from-rack {
  color:#bbb;
  font-size:16px;
  padding:0 5px;
  position:absolute;
  right:0;
  text-align:center;
  text-decoration: none;
  top:0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;   
}
a.remove-from-rack:hover {color:#474747;}
a.remove-from-rack:active {color:#0090D9;}
div.already-in-rack {
  position:absolute;
  width:100px;
  z-index:25;
}
div.already-in-rack span.msg {
  background:rgba(0,0,0,0.75);
  border-radius:3px;
  color:#fff;
  display:block;
  font-size:11px;
  font-weight:200;
  padding:5px;
  text-shadow:0 1px #000;
}
div.already-in-rack span.tail {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(0,0,0,0.75);  
  display:block;
  height:0;
  margin-left:45px;
  width:0;
}

#user-card {
  position:fixed;
  right:20px;
  top:15px;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;   
  width:inherit;
  z-index:6;  
}
body.explore-page #user-card{position:absolute;}
#user-card.show {border-radius:5px; width:500px; }
#user-card #user-clip {
  background:#f2987e;
  border-radius:25px;
  color:#fff;
  display:inline-block;
  font-size:20px;
  font-weight:300;
  height:50px;
  line-height:50px;
  overflow:hidden;
  padding:0;
  position:absolute;
  top:0;
  right:0;
  text-decoration: none;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  width:50px;
  z-index:3;  
}
#user-card #user-clip.ready {box-shadow:0 0 3px rgba(0,0,0,0.3);padding:0 65px 0 20px;}
#user-card #user-clip span.name {
  display:inline-block; 
  left:20px;
  line-height:48px; 
  position:absolute;
  top:0; 
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;  
  vertical-align:top; 
  white-space:nowrap;
}

#user-card #user-clip span.name em {
  display:inline-block;
  font-weight:300;
  overflow:hidden; 
  padding-right:5px; 
  width:100px;
  -webkit-transition: all 1s ease-in-out;
  vertical-align:top;
}
#user-card.show #user-clip span.name em {width:0;padding:0;}
#user-card #user-clip span.expanded {
  display:block;
  font-size:14px;
  font-weight:200;
  line-height:18px;
  padding-left:0;
  overflow:hidden;
  opacity:0;  
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; 
  white-space: nowrap;
  width:0;
}
#user-card #user-clip span.expanded em {font-weight:200; font-variant:small-caps; padding-right:5px; }

#user-card #user-clip img.client {
  border-radius:50%;
  display:inline-block;
  height:50px;
  position:absolute;
  right:0;
  top:0;
  vertical-align: top;
  width:50px;
  -webkit-transition: all 1s ease-in-out; 
  transition: all 1s ease-in-out;     
}
#user-card div.details {
  background:#fff;
  box-shadow:none;
  border-radius:0;
  height:0;
  overflow:hidden;
  position:absolute;
  right:0;
  top:50px;
  -webkit-transition: border-radius 1s ease-in-out, width 1s ease-in-out,top 1s ease-in-out,box-shadow 1s ease-in-out,height 0.2s ease-in-out;
  transition: border-radius 1s ease-in-out,width 1s ease-in-out,top 1s ease-in-out,box-shadow 1s ease-in-out,height 0.2s ease-in-out; 
  width:0;
  z-index:2; 
}

#user-card.show #user-clip.ready {
  background:#000;
  border-radius:0;
  border-top-right-radius: 5px;
  border-top-left-radius:5px;
  padding:0;
  height:130px;
  width:500px !important;
}
#user-card.show #user-clip span.name{ left:130px;}
#user-card.show #user-clip img.client {
  height:100px;
  right:385px;
  top:15px;
  width:100px;
}
#user-card.show #user-clip span.expanded {
  opacity:1;
  padding-left:130px;
  width:365px;
}
#user-card.show #user-clip span.expanded.locale {
  padding-top:38px;
  padding-bottom:3px;
  font-size:16px;
}
#user-card.show div.details {
  box-shadow:0 0 3px rgba(0,0,0,0.3);
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
  height:630px;
  top:130px;
  -webkit-transition: border-radius 1s ease-in-out,width 1s ease-in-out,top 1s ease-in-out,box-shadow 1s ease-in-out,height 0.5s ease-in-out 0.75s;
  transition: border-radius 1s ease-in-out,width 1s ease-in-out,top 1s ease-in-out,box-shadow 1s ease-in-out,height 0.5s ease-in-out 0.75s; 
  width:500px;
}
#user-card div.weather,
#user-card div.demo {
  border-bottom:1px solid #ddd;
  overflow:auto;
  width:500px;
}
#user-card div.notes { width:500px; }
#user-card div.notes div.notes-wrapper { height:290px; overflow:auto; }
#user-card div.demo { padding:10px 0 ; }
#user-card div.weather span {
  border-right:1px solid #eee; 
  float:left; 
  margin:15px 0;
  width:calc(25% - 1px);
}
#user-card div.demo div.left { border-right:1px solid #eee; float:left; width:calc(50% - 1px); }
#user-card div.demo div.right{ float:left;  width:50%; }
#user-card div.demo span{
  display:block;
  font-size:14px;
  font-weight:200;
  height:18px;
  line-height:18px;
  overflow:hidden;
  padding:0 10px;
  text-align: right;
}
#user-card div.demo span em {float:left; font-weight:200; padding-right:5px;}
#user-card div.weather span:nth-of-type(4) {border:0;}
#user-card div.weather span em {
  color:#999;
  display:block;
  font-size:18px;
  font-size:200;
  line-height:24px;
  text-align:center;
  text-transform: uppercase;
}
#user-card div.weather span em.desc{
  color:#777;
  font-size:12px;
}
#user-card div.weather span i {
  color:#666;
  display:block;
  font-size:40px;
  height:65px;
  line-height:65px;
  text-align:center;
}
#user-card div.notes h6 {
  color:#474747;
  font-size:16px;
  font-size:200;
  padding:10px;
}
#user-card div.notes div.note {
  background:#f3f3f3;
  border-radius:5px;
  font-size:14px;
  font-size:200;
  line-height:20px;  
  margin:5px 15px 10px 15px;
  padding:0
  text-shadow:0 1px #fff;
}
#user-card div.notes div.note table td {
  font-size:16px;
  font-size:200; 
  line-height:20px;
  padding:10px; 
  vertical-align: middle; 
}
#user-card div.notes div.note table td.date {
  background:#000;
  border-bottom-left-radius:5px;
  border-top-left-radius:5px;  
  color:#fff;
  font-size:14px;
  font-size:200;
  line-height:20px;  
  padding:10px 0;
  text-align:center;
  width:65px;
}
#facet-bar {
  background:#fafafa;
  border:1px solid #ddd;
  border-radius:3px;
  margin:0 5px 10px;
  overflow: auto;
  opacity:0;
  padding:9px 10px 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;    
}
#facet-bar.show {opacity:1;}
#facet-bar span.title {
  color:#999;
  float:left;
  font-size:12px;
  font-weight:700;
  padding:4px 0 10px;
  text-transform: uppercase;
}
#facet-bar span#search-form-selections { display:block; margin-left:108px; width:calc(100% - 108px); }
#facet-bar a {
  border:1px solid #ccc;
  border-radius:3px;
  color:#474747;
  display:inline-block;
  font-size:14px;
  font-weight:300;
  margin:0 5px 5px 0;
  padding:1px 5px;
  text-decoration: none;
}
#facet-bar a i {
  color:#42A5F5;
  font-size:12px;
  margin-left:5px;
  position:relative;
  top:0px;
}
a.info-toggle {
  color:rgba(0,0,0,0.2);
  float:right;
  font-size:16px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-right:9px; 
  padding:2px 6px;  
}
a.info-toggle:hover {color:#222;}
div.tt {
  background:rgba(0,0,0,0.6);
  border-radius:3px;
  box-shadow:0 1px 2px rgba(0,0,0,0.7);
  display:none;
  color:#fff;
  font-size:12px;
  font-weight:200;
  left:-200px;
  line-height:16px;
  position:absolute;
  padding:10px;
  top:0;
  width:180px;
  z-index:2;
}
div.tt.check {display:block;visibility:hidden;}
div.tt span {display:block; word-wrap: break-word;}
div.tt span em {font-weight:400; padding-right:5px;}
div.layout-option span.rows,
div.layout-option span.columns {font-size:10px; display:block;}
div.layout-option div.layout-grid {
  height:100px;
  float:left;
  margin-right:10px;
  width:100px;
}
div.layout-option div.layout-grid div.column {float:left;height:100px;margin:0 1px;}
div.layout-option div.layout-grid div.row { border:1px solid #474747; border-radius:3px; margin:2px 0; overflow:hidden;}
#create-look {
  background:rgba(0,0,0,0.7);
  display:none;
  height:100%;
  left:0;
  position:fixed;
  top:0;
  width:100%;
  z-index:200;
}
#create-look div.stage {
  background:#fff;
  border-radius:5px;
  box-shadow:0 0 3px rgba(0,0,0,0.8);
  height:300px;
  left:calc(50% - 300px);
  position:absolute;
  top:calc(50% - 150px);
  width:600px;
  z-index:201;
}
#create-look div.stage h2 {
  border-bottom:1px solid #eee;
  font-size:18px;
  font-weight:300;
  padding:0 15px;
  height:49px;
  line-height:49px;  
}
#create-look div.stage label {
  display:block;
  font-size:14px;
  font-weight:400;
  padding:10px 15px 8px;
}
#new-look-name {
  background:#fff;
  border:1px solid #d0d0d0;
  border-radius:3px;
  display:block;
  font-size:13px;
  font-weight:300;
  margin:0 15px;
  padding:8px;
  width:calc(100% - 50px);
}
#create-look div.stage div.selectize-control {margin:0 17px 0 15px;}
#new-look-error span {
  color:#AD1457;
  display:block;
  font-size:18px;
  font-weight:100;
  padding:10px 15px 0;
}
#new-look-error span i {margin-right:10px;}
#design-look {
  background:#fff;
  box-shadow:0 0 3px rgba(0,0,0,0.3);  
  height:100%;
  left:-102%;
  opacity:0;
  position:fixed;
  top:0;
  width:100%;
  z-index:20;
}
#design-look.show {
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;  
  left:0px; 
  opacity:1;
}
#design-look.show.hide {
  left:-102%; 
  opacity:0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;    
}
#look-drop,
#rack-draggable,
#compare-looks { position:absolute; top:50px; }
#rack-draggable {
  background:#fafafa; 
  border-right:1px solid #ddd;
  height:calc(100% - 60px);
  left:0;
  padding:5px 0;
  width:345px;
}
#compare-looks { background:#fafafa; border-left:1px solid #ddd; height:calc(100% - 50px); overflow:hidden; right:0; width:319px; }
#compare-looks div.other-looks,
#rack-draggable div.look-builder-rack { height:calc(100% - 50px); overflow:auto; }
#rack-draggable div.look-builder-rack {padding:0 5px;}
#look-drop{ height:calc(100% - 50px); left:345px; width:calc(100% - 665px); }
#rack-draggable div.item {
  background:#fff;
  box-shadow: 0 0 2px rgba(34, 25, 25, 0.4);
  margin:5px;
  float:left;
  height:100px;
  overflow:hidden;
  padding:0;
  position:relative;
  width:100px;
}
#rack-draggable div.item img { 
  display:block; 
  margin:auto; 
  height:100px;
  margin:0 auto; 
  max-width:100%; 
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;  
}
#rack-draggable div.item img:active { 
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#rack-draggable span.fave {
  color:#EC407A;
  font-size:12px;
  position:absolute;
  right:2px;
  top:0;
}
#look-drop div.drop-zone { float:left; height:100%; width:calc(75% - 20px); }
#look-drop div.column { height:calc(100% - 17px); float:left; margin:0 2px; padding:13px 0; }
#look-drop div.column div.row { border:1px dashed #bbb; border-radius:3px; margin:2px 0; overflow:hidden;}
#look-drop div.column div.row div.item { height:100%; position:relative; width:100%; }
#look-drop div.column div.row div.item span.fave {display:none;}
#look-drop div.column div.row div.item img {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;    
  display:block; 
  height:100%; 
  margin: 0 auto; 
  overflow:hidden; 
  max-width:100%;
}
#look-drop div.column div.row div.item img:active { 
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#look-drop div.instructions {
  color:#777;
  float:left;
  font-size:18px;
  font-weight:100;
  height:calc(100% - 20px);
  line-height:24px;
  padding:10px;
  position:relative;
  width:25%;
}
#look-drop #look-trash {
  border:1px dashed #ddd;
  border-radius: 3px;
  bottom:10px;
  font-size:60px;
  height:100px;
  left:10px;
  line-height:95px;
  position:absolute;
  text-align:center;
  width:calc(100% - 22px);
}
#look-drop #look-trash:before { content: "\f014"; font-family: 'FontAwesome'; opacity:0.25; }
#look-drop #look-trash div.item {
  border:1px dashed #333;
  border-radius: 3px;
  height:100px;
  left:-1px;
  position:absolute;
  text-align:center; 
  top:-1px;
  width:100%; 
}
#look-drop #look-trash div.item img {display:none;}
#look-drop #look-trash div.item span.fave {display:none;}
#look-drop #look-trash div.item:before {
  color:#000;
  content: "\f014";
  font-family: 'FontAwesome'; 
  font-size:60px;
  line-height:95px;   
}
#look-drop a.look-more-details {
  color:#777;
  display:blcok;
  font-size:18px;
  font-weight:100;
  line-height:24px;
  text-decoration: none;
}
#look-drop a.look-more-details i {margin-right:8px;}
#look-drop a.look-more-details:hover {color:#474747; text-decoration: underline}
#compare-looks span.no-looks {
  color:#777;
  display:block;
  font-size:20px;
  font-variant: small-caps;
  font-weight:100;
  height:calc(100% - 20px);
  line-height:24px;
  padding:10px;
  text-align:center;
  text-shadow:0 1px #fff;  
}
#compare-looks div.comp-look {
  background:#fff;
  box-shadow: 0 0 2px rgba(34, 25, 25, 0.4);
  border-radius:3px;
  overflow:auto;
  margin:10px 15px;
  padding:10px 5px;
}
#compare-looks div.comp-look h3 {
  border-bottom:1px solid #eee;
  font-size:18px;
  font-weight:300;
  margin:-10px -5px 0;
  padding:10px;
}
#compare-looks div.comp-look span.layout {
  color:#777;
  display:block;
  font-size:12px;
  font-weight:100;
  padding:10px 5px;
}
#compare-looks div.comp-look span.layout em {font-weight:400;}
/*#compare-looks div.comp-look div.item {
  box-shadow: 0 0 2px rgba(34, 25, 25, 0.4);
  margin:5px;
  float:left;
  height:75px;
  overflow:hidden;
  padding:0;
  position:relative;
  width:75px;
}
#compare-looks div.comp-look div.item img { 
  display:block;
  height:75px;
  margin: 0 auto; 
  overflow:hidden; 
  max-width:100%;
}*/

#compare-looks div.comp-look div.item {
  background:#fff;
  padding:0;
  position:relative;
}
#compare-looks div.comp-look div.item a.item-details {
  display:block;
  height:100%;
  text-decoration: none;
  width:100%;
}
#compare-looks div.comp-look div.item img {
  display:block;
  margin:0 auto; 
  height:100%; 
  max-width:100%;
}



#rack-list a.rack-section-toggle,
#rack-list a.close-all-rack-sections {
  color:#474747;
  display:block;
  font-size:16px;
  padding:10px 7.5px;
  text-decoration:none;
}
#rack-draggable a.rack-section-toggle,
#rack-draggable a.close-all-rack-sections,
#rack-draggable a.sort-link {
  color:#474747;
  display:block;
  font-size:14px;
  padding:5px 10px;
  text-decoration:none;
  text-shadow:0 1px #fff;
}
#rack-list a.rack-section-toggle i,
#rack-draggable a.rack-section-toggle i,
#rack-list a.close-all-rack-sections i,
#rack-draggable a.close-all-rack-sections i,
#rack-draggable a.sort-link i {margin-right:5px;}
#rack-list a.close-all-rack-sections:active,
#rack-draggable a.close-all-rack-sections:active,
#rack-draggable a.sort-link:active {color:#f2987e;}
#rack-list div.block,
#rack-draggable div.block {overflow:hidden;}
#look-indepth,
#cropper,
#inspect-item {
  background:rgba(0,0,0,0.7) ;
  display:none;
  height:100%;
  left:0;
  position:fixed;
  top:0;
  width:100%;
  z-index:25;
}
#cropper {z-index:30;}
#look-indepth div.stage,
#inspect-item div.stage,
#cropper div.stage {
  background:#fff;
  border-radius:5px;
  box-shadow:0 0 3px rgba(0,0,0,0.8);
  height:calc(100% - 40px);
  left:20px;
  position:absolute;
  top:20px;
  width:calc(100% - 40px);
  z-index:26;
}
#cropper div.stage {z-index:31;}
#look-indepth div.stage h2,
#inspect-item div.stage h2,
#cropper div.stage h2 {
  border-bottom:1px solid #ddd;
  font-size:18px;
  font-weight:500;
  padding:0 15px;
  height:49px;
  line-height:49px;  
}
#look-indepth div.stage p.layout {
  border-bottom:1px solid #ddd;
  color:#777;
  font-size:14px;
  font-weight:300;
  margin:0 15px;
  padding:15px 0;
}
#look-indepth div.stage p.layout em {font-weight:500;}
#look-indepth div.stage div.products{
  height:calc(100% - 120px);
  overflow:auto;
  padding:0 15px 20px;
}
#look-indepth div.stage div.products table,
#inspect-item div.stage table {
  margin:10px 0;
  width:100%;
}
#inspect-item div.stage table {width:calc(100% - 30px);margin:0 15px;}
#look-indepth div.stage div.products table td,
#inspect-item div.stage table td {border-bottom:1px solid #ddd; vertical-align: top}
#look-indepth div.stage div.products table tr:last-child td,
#inspect-item div.stage table td {border:0;}

#look-indepth div.stage div.products table td.img { padding:15px 10px 10px 0; position:relative; width:200px; }
#look-indepth div.stage div.products table td.img a.crop-product-image {
  color:#000;
  height:20px;
  left:5px;
  opacity:0.2;
  position:relative;
  text-align:center;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; 
  top:22px;   
  width:20px;
}
#look-indepth div.stage div.products table td.img a.crop-product-image i{ font-size:18px;}
#look-indepth div.stage div.products table td.img a.crop-product-image:hover {opacity: 1}
#inspect-item div.stage table td.img { padding:15px 10px 10px 0; width:300px; }
#look-indepth div.stage div.products table td.img img,
#inspect-item div.stage table td.img img {
  box-shadow:0 0 3px rgba(0,0,0,0.25);
  display:block;
  height:200px;
  max-width:100%;
}
#inspect-item div.stage table td.img img {height:300px; margin:0;}
#look-indepth div.stage div.products table td.details,
#inspect-item div.stage table td.details {padding:15px 10px 10px;}
#inspect-item div.stage table td#inspect-sizes {padding:15px 10px 10px;}
#look-indepth div.stage div.products table tr:first-child td.img,
#look-indepth div.stage div.products table tr:first-child td.details {padding-top:5px;}
#look-indepth div.stage div.products table a.name,
#inspect-item div.stage table a.name {
  color:#474747;
  display:block;
  font-size:18px;
  font-weight:400;
  padding:0 0 2px;
  text-decoration: none;
}
#look-indepth div.stage div.products table a.name:hover,
#inspect-item div.stage table a.name:hover {text-decoration: underline}
#look-indepth div.stage div.products table span.price,
#look-indepth div.stage div.products table span.manu,
#look-indepth div.stage div.products table span.merch,
#look-indepth div.stage div.products table span.general,
#inspect-item div.stage table span.price,
#inspect-item div.stage table span.manu,
#inspect-item div.stage table span.merch,
#inspect-item div.stage table span.general {
  color:#676767;;
  display:block;
  font-size:16px;
  font-weight:300;
  padding:2px 0;
}
#look-indepth div.stage div.products table span.general em ,
#look-indepth div.stage div.products table span.price em.label,
#inspect-item div.stage table span.general em,
#inspect-item div.stage table span.price em.label{
  color:#777; 
  font-variant: small-caps;
  font-weight:100;
  padding-right:5px;
}
#look-indepth div.stage div.products table p.item-desc,
#inspect-item div.stage table p.item-desc {
  border-left:2px solid #444;
  box-shadow:inset 0 0 2px rgba(0,0,0,0.2);
  color:#777;
  font-size:13px;
  font-weight:100;
  line-height:19px;
  margin:5px 0;
  padding:8px 15px 8px 10px; ;
  width:75%; 
}
#look-indepth div.stage div.products table span.price em.sale,
#inspect-item div.stage table span.price em.sale {
  color:#D32F2F; 
  display:inline-block; 
  padding-right: 8px; 
  text-decoration: line-through;
}
#look-filter-options {
  background:#fff;
  box-shadow:0 0 3px rgba(0,0,0,0.6);
  left:0;
  padding:10px 0 0;
  position:absolute;
  top:-300px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width:319px;
  z-index:4;
}
#look-filter-options.show {top:50px;}
#look-filter-options label.toggle,
#search label.toggle { 
  cursor: pointer; 
  display:block;
  margin:0 10px 10px; 
}
#search label.toggle.faves {margin:15px 0 0 ;}
#look-filter-options label.toggle em,
#search label.toggle em{
  color:#000;
  display:inline-block;
  font-size:14px;
  font-weight:400;
  padding:0 10px 0 10px;
  position:relative;
  top:2px; 
  white-space: nowrap;
}
#look-filter-options label.toggle span,
#search label.toggle span {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 12px;
  box-shadow: 0px 0px 0px 0px rgb(223, 223, 223) inset; 
  cursor: pointer;
  display: inline-block;
  height:15px;
  position: relative;
  -webkit-transition: background-color 1.2s ease 0s, border 0.4s ease 0s, box-shadow 0.4s ease 0s;
  transition: background-color 1.2s ease 0s, border 0.4s ease 0s, box-shadow 0.4s ease 0s;  
  vertical-align: middle;
  width: 30px;
}
#look-filter-options label.toggle span small,
#search label.toggle span small {
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  height: 15px;
  position: absolute;
  top: 0;
  left:0;
  -webkit-transition: left 0.2s ease 0s;
  transition: left 0.2s ease 0s;
  width: 15px;
}
#look-filter-options label.toggle input,
#search label.toggle input {display:none;}
#look-filter-options label.toggle input:checked + span,
#search label.toggle input:checked + span { box-shadow: 0px 0px 0px 16px rgb(81,81,81) inset; border-color:#515151; }
#look-filter-options label.toggle input:checked + span > small,
#search label.toggle input:checked + span > small { left:15px; }
#look-filter-options input[type="text"] {
  background:#fff;
  border:1px solid #d0d0d0;
  border-radius:3px;
  display:block;
  font-size:14px;
  font-weight:200;
  margin:0 0 15px 10px;
  padding:8px;
  width:281px;
}
#look-filter-options div.look-filter-submit {
  border-top:1px solid #ddd;
  padding:15px 0;
}
#look-filter-options div.look-filter-submit a {
  background:#f2987e;
  border-radius:5px;
  color:#fff;
  display:block;
  font-size:16px;
  font-variant: small-caps;
  font-weight:400;
  margin:0 auto;
  padding:3px 0 6px;
  text-align:center;
  text-decoration: none;
  width:119px;
}
#look-filter-options div.look-filter-submit a:hover {
  background:#ed8365;
  box-shadow:0 1px 1px rgba(0,0,0,0.1);
}
#look-filter-options div.look-filter-submit a:active {
  background:#fafafa;
  color:#000;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.3)
}
/* explore look page styles */
#explore-form {
  border-bottom:1px solid #ddd;
  margin-bottom:15px;
  padding:15px;
}
#explore-form .selectize-control {display:inline-block; vertical-align:top; width:300px;}
#explore-form span.label {
  color:#000;
  display:inline-block;
  font-size:13px;
  font-weight:300;
  padding:10px 8px 0 0;
  vertical-align: top;
}
#explore-form span.label.middle {padding-left:10px;}
#explore-form span.label.fave {padding:4px 0 0 10px;}
#explore-form input[type="text"] {
  background:#fff;
  border:1px solid #d0d0d0;
  border-radius:3px;
  box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);
  color:#303030;
  display:inline-block;
  font-size:13px;
  font-weight:200;
  line-height:18px;
  margin:0;
  padding:8px;
  width:234px;
}
#explore-form a#looks-filter  {
  background:#f2987e;
  border-radius:5px;
  color:#fff;
  display:inline-block;
  font-size:16px;
  font-variant: small-caps;
  font-weight:500;
  margin-left:12px;
  padding:7px 15px 10px;
  text-align: center;
  text-decoration:none;
  vertical-align: top;
}
#explore-form a#looks-filter:hover {background:#ed8365;}
#explore-form a#looks-filter:active{  
  background:#fff;
  box-shadow:inset 0 0 3px rgba(0,0,0,0.3);
  color:#474747;
}
#stylist-select {display:none;}
#looks-header.sticky {
  background:rgba(255,255,255,0.9);
  box-shadow:0 0 3px rgba(0,0,0,0.3);
  left:0;
  padding:15px 0 10px;
  position:fixed;
  top:0;
  width:100%;
  z-index:5;
}
#looks-header h2 {
  font-size:18px;
  font-weight:300;
  padding:0 15px 7.5px;
}
#looks-header h2 em {font-weight:500;}
#all-looks-list {
  margin:0 5px 7.5px;
  overflow:auto;
  padding:0 5px 7.5px;
}

#all-looks-list div.look {
    display:block;
    float:left;
    margin:0 0 2px;
    width:calc(100%/3);  
}
#all-looks-list div.look div.display {
  background:#fff;
  border-radius:3px;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin:10px ;
  position:relative;
}
#all-looks-list div.look div.display a.favorite-look {
  color:#EC407A;
  display:block;
  font-size:20px;
  padding:4px;
  position:absolute;
  right:11px;
  text-decoration: none;
  top:11px;
}
#all-looks-list div.look div.display h3 {
  background:#fafafa;
  border-bottom:1px solid #ddd;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  font-size:18px;
  font-weight:300;
  margin-bottom:7.5px;
  padding:13px 15px 15px;
  text-shadow:0 1px #fff;
}
#all-looks-list div.look div.display h3 span {
  color:#777;
  display:block;
  font-size:14px;
  font-weight:100;
  padding-top:2px;
}

#all-looks-list div.look div.display div.items,
#compare-looks div.other-looks div.comp-look div.comp-look-display {overflow:auto;padding:0 7.5px;}
#all-looks-list div.look div.display div.items div.column,
#compare-looks div.other-looks div.comp-look div.comp-look-display div.column {float:left; height:300px; margin:0 1px;}
#all-looks-list div.look div.display div.items div.column div.row,
#compare-looks div.other-looks div.comp-look div.comp-look-display div.row {border:1px solid #ddd; border-radius:3px; margin:2px 0;}
#all-looks-list div.look div.display div.item {
  background:#fff;
  padding:0;
  position:relative;
}
#all-looks-list div.look div.display div.item a.item-details {
  display:block;
  height:100%;
  text-decoration: none;
  width:100%;
}
#all-looks-list div.look div.display div.item img {
  display:block;
  margin:0 auto; 
  height:100%; 
  max-width:100%;
}
#explore-wrapper {}
#explore-wrapper #loader {
  height:100px; 
  font-size:24px;
  font-weight:100; 
  line-height:100px; 
  text-align:center;
}
#explore-wrapper #loader.active {display:none;}
#cropper-zone {
  height:calc(100% - 50px);
  overflow:auto;
  padding:0;
}

#cropper-zone div.croppr {margin-left:20px;}
#inspect-item div.inspect-overflow {
  height:calc(100% - 50px);
  overflow:auto;
  padding:0; 
}
#inspect-sizes div.inspect-alt-size {
  background:#fff; 
  box-shadow:0 0 3px rgba(0,0,0,0.3);
  float:left;
  padding:10px;
  margin:5px 15px 15px 5px;
  width:calc(33% - 45px);
}
#inspect-item div.stage table td#inspect-sizes span.header {margin-bottom:10px;}
#inspect-item div.stage table td#inspect-sizes td.size-img {width:90px;}
#inspect-item div.stage table td#inspect-sizes table {margin:0;}
#inspect-item span.price em {color:#D32F2F; display:inline-block; padding-right: 8px; text-decoration: line-through;}
#inspect-item #inspect-sizes div.inspect-alt-size img {
  box-shadow:0 0 3px rgba(0,0,0,0.25);
  display:block;
  height:100px;
  margin:0 10px 0 0;
  width:80px;
}
#inspect-item #inspect-sizes div.inspect-alt-size span.general{word-break: break-all;}
#inspect-item a.add-to-rack {float:none;margin:10px 0 0;}
#inspect-item a.favorite{
  border:1px solid #ddd;
  border-radius:3px;
  color:#EC407A;
  display:inline-block;
  font-size:11px;
  font-variant:small-caps;
  margin:10px 10px 0 0;
  padding:3px 8px 4px;
  text-decoration: none;
  text-transform:lowercase;
}
#inspect-item a.favorite.favorited { background:#EC407A; border-color:#EC407A; color:#fff;}
#inspect-item a.favorite i {font-size:13px; position:relative; top:1px;}
#inspect-item a.favorite:hover { background:#EC407A; border-color:#EC407A; color:#fff; }
#inspect-item a.favorite.favorited:hover {background:#E91E63; border-color:#E91E63; color:#fff;}
#inspect-item a.favorite:active {
  background:#fff;
  border-color:#fff;
  box-shadow:inset 0 0 3px rgba(0,0,0,0.3);
  color:#474747;
}
#cropper-zone p {
  color:#777;
  font-size:18px;
  font-weight:100;
  line-height:22px;
  padding:15px 20px;
}
#thumb {
  background:#fff;
  border-left:1px solid #ddd;
  border-bottom-right-radius: 5px;
  height:calc(100% - 50px);
  position:absolute; 
  top:50px;
  right:0px;
  width:190px;
  z-index:3;
}
#thumb h6 {
  background:#fafafa;
  border-bottom:1px solid #ddd;
  font-size:16px;
  font-variant: small-caps;
  font-weight:400;
  margin-bottom:15px;
  padding:10px;
  text-align:center;
}
#thumb img {
  box-shadow:0 0 2px rgba(0,0,0,0.3);
  display:block;
  margin:0 auto 15px;
  max-width:150px;
}
#thumb a {
  border:1px solid #ddd;
  border-radius:3px;
  color:#777;
  display:inline-block;
  font-size:16px;
  font-variant:small-caps;
  margin:0 0 0 45px;
  padding:5px 0 6px;
  text-align: center;
  text-decoration: none;
  text-transform:lowercase;
  width:100px;
}
#look-favorite-status {
  border:1px solid #ddd;
  border-radius:3px;
  color:#000;
  display:inline-block;
  padding:5px 8px 6px;
  margin-left:5px;
  text-align:;
  text-decoration: none; 
}
#look-favorite-status i {display:inline-block;margin-left:5px;}
#look-favorite-status span {display:none;}
#look-favorite-status.any span.any {display:inline-block;}
#look-favorite-status.fave span.faves {display:inline-block;}
#thumb a:hover,
#look-favorite-status:hover {
  border-color:#ccc;
  box-shadow:0 1px 1px rgba(0,0,0,0.1);
  color:#474747;
}
#thumb a:active,
#look-favorite-status:active {
  background:#fff;
  border-color:#fff;
  box-shadow:inset 0 0 3px rgba(0,0,0,0.3);
  color:#474747;
}




