<div id="user-card">
  <a id="user-clip" href="#" data-userid="{{ client.id }}">
  <span class="name"><em>now styling:</em>{{ client.first_name }} {{ client.last_name }}</span>
  <span class="expanded locale">{{ client.client_360.city}}, {{client.client_360.state}}</span>
  <span class="expanded style" id="client-birthday" data-bd="{{ client.client_360.birthday }}"><em></span>  
  <span class="expanded style"><em>occupation:</em>{{ client.client_360.occupation }}</span>
  <span class="expanded style"><em>goal:</em>{{ client.client_360.looks_goal }}</span>
  <img class="client" src="{{ client.client_360.photo}}"/></a>
  <div class="details">
    <div class="social" id="client-social">
    	<span>social media:</span>
      <a href="{{ client.client_360.instagram }}" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
      <a href="{{ client.client_360.pinterest }}" class="pinterest" target="_blank"><i class="fa fa-pinterest"></i></a>
      <a href="{{ client.client_360.linkedin }}" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
    </div>
    <div class="demo">
      <div class="left">
        <span><em>height:</em>{{ client.client_360.height }}</span>
        <span><em>weight:</em>{{ client.client_360.weight }}</span>
        <span><em>pierced ears:</em>{{ client.client_360.ears_pierced }}</span>
        <span id="bra-size" data-sizes="{{ client.client_360.bra_size }}"></span>
        <span><em>tops:</em>{{ client.client_360.size_tops }}</span>
        <span><em>pants:</em>{{ client.client_360.size_pants }}</span>
        <span><em>jeans:</em>{{ client.client_360.size_jeans }}</span>
        <span><em>shoe:</em>{{ client.client_360.size_shoe }}</span>
      </div>
      <div class="right">
        <span><em>color preference:</em>{{ client.client_360.colors_preference }}</span>
        <span><em>jewelry style:</em>{{ client.client_360.jewelry_style }}</span>
        <span><em>dress style:</em>{{ client.client_360.style_dress }}</span>
        <span><em>jacket style:</em>{{ client.client_360.style_jacket }}</span>
        <span><em>tops style:</em>{{ client.client_360.style_tops }}</span>
        <span><em>jeans style:</em>{{ client.client_360.style_jeans }}</span>
        <span><em>shoe style:</em>{{ client.client_360.style_shoe }}</span>
      </div>      
    </div>
    <div class="weather">
    	<span>
        <em class="season">winter</em>
        <i class="wi {{ weather_info.winter_icon }}"></i>
        <em class="desc">{{ weather_info.winter_temperature_average }}</em>
      </span>
			<span> 
        <em class="season">spring</em>
        <i class="wi {{ weather_info.spring_icon }}"></i>
        <em class="desc">{{ weather_info.spring_temperature_average }}</em>
      </span>
      <span> 
        <em class="season">summer</em>
        <i class="wi {{ weather_info.summer_icon }}"></i>
        <em class="desc">{{ weather_info.summer_temperature_average }}</em>
      </span>
      <span> 
        <em class="season">fall</em>
        <i class="wi {{ weather_info.autumn_icon }}"></i>
        <em class="desc">{{ weather_info.autumn_temperature_average}}</em>
      </span>     
    </div>
    <div class="notes">
     <!-- <h6>4 Notes</h6>
      <div class="notes-wrapper">
        <div class="note"><table><tr><td class="date">Nov 1<br/>2017</td><td>Wes raved about the last outfit.</td></tr></table></div>
        <div class="note"><table><tr><td class="date">Oct 25<br/>2017</td><td>Loved the blocky print.</td></tr></table></div>
        <div class="note"><table><tr><td class="date">Sep 16<br/>2017</td><td>Will not wear plaid again...</td></tr></table></div>
        <div class="note"><table><tr><td class="date">Jul 15<br/>2017</td><td>Floral pant suit got a lot of compliments, would like to see more things like this in the future.</td></tr></table></div>
      </div>-->
    </div>
  </div>
</div>
<!-- the available fields for now
    first_name = models.TextField(blank=True, null=True)
    last_name = models.TextField(blank=True, null=True)
    address_1 = models.TextField(blank=True, null=True)
    address_2 = models.TextField(blank=True, null=True)
    city = models.TextField(blank=True, null=True)
    state = models.TextField(blank=True, null=True)
    country = models.TextField(blank=True, null=True)
    birthday = models.TextField(blank=True, null=True)
    occupation = models.TextField(blank=True, null=True)
    wear_to_work = models.TextField(blank=True, null=True)
    spend_free_time = models.TextField(blank=True, null=True)
    where_live = models.TextField(blank=True, null=True)
    time_of_day_text = models.TextField(blank=True, null=True)
    social_media = models.TextField(blank=True, null=True)
    instagram = models.TextField(blank=True, null=True)
    pinterest = models.TextField(blank=True, null=True)
    linkedin = models.TextField(blank=True, null=True)
    photo = models.TextField(blank=True, null=True)
    winter = models.TextField(blank=True, null=True)
    spring = models.TextField(blank=True, null=True)
    summer = models.TextField(blank=True, null=True)
    fall = models.TextField(blank=True, null=True)
    styling_count = models.IntegerField(blank=True, null=True)
    last_styling_date = models.DateTimeField(blank=True, null=True)
    order_count = models.IntegerField(blank=True, null=True)
    last_order_amt = models.DecimalField(max_digits=10, decimal_places=0, blank=True, null=True)
    last_order_date = models.DateTimeField(blank=True, null=True)
    avg_items = models.DecimalField(max_digits=10, decimal_places=0, blank=True, null=True)
    avg_amt = models.DecimalField(max_digits=10, decimal_places=0, blank=True, null=True)
    heart_count = models.IntegerField(blank=True, null=True)
    comment_count = models.IntegerField(blank=True, null=True)
    star_count = models.IntegerField(blank=True, null=True)
    signup_date = models.DateTimeField(blank=True, null=True)
    utm_source = models.TextField(blank=True, null=True)
    utm_campaign = models.TextField(blank=True, null=True)
    utm_term = models.TextField(blank=True, null=True)
    utm_medium = models.TextField(blank=True, null=True)
    referral_site = models.TextField(blank=True, null=True)
    hear_about_allume = models.TextField(blank=True, null=True)
    height = models.TextField(blank=True, null=True)
    weight = models.TextField(blank=True, null=True)
    bra_size = models.TextField(blank=True, null=True)
    body_part_attention = models.TextField(blank=True, null=True)
    body_part_conceal = models.TextField(blank=True, null=True)
    fit_challenges = models.TextField(blank=True, null=True)
    hair_complex_color = models.TextField(blank=True, null=True)
    first_session_focus = models.TextField(blank=True, null=True)
    looks_goal = models.TextField(blank=True, null=True)
    pieces_focus = models.TextField(blank=True, null=True)
    outfits_preference = models.TextField(blank=True, null=True)
    other_goals = models.TextField(blank=True, null=True)
    stores = models.TextField(blank=True, null=True)
    brands = models.TextField(blank=True, null=True)
    spending_tops = models.TextField(blank=True, null=True)
    spending_bottoms = models.TextField(blank=True, null=True)
    spending_dresses = models.TextField(blank=True, null=True)
    spending_jackets = models.TextField(blank=True, null=True)
    spending_shoes = models.TextField(blank=True, null=True)
    style_celebs = models.TextField(blank=True, null=True)
    style_looks = models.TextField(blank=True, null=True)
    style_jeans = models.TextField(blank=True, null=True)
    style_tops = models.TextField(blank=True, null=True)
    style_dress = models.TextField(blank=True, null=True)
    style_jacket = models.TextField(blank=True, null=True)
    style_shoe = models.TextField(blank=True, null=True)
    colors_preference = models.TextField(blank=True, null=True)
    style_avoid = models.TextField(blank=True, null=True)
    size_pants = models.TextField(blank=True, null=True)
    size_jeans = models.TextField(blank=True, null=True)
    size_tops = models.TextField(blank=True, null=True)
    size_shoe = models.TextField(blank=True, null=True)
    ears_pierced = models.TextField(blank=True, null=True)
    jewelry_style = models.TextField(blank=True, null=True)
    jewelry_type = models.TextField(blank=True, null=True)
 -->