<div id="user-card">
  <a id="close-user-clip" href="#"><i class="fa fa-times"></i></a>
  <a id="user-clip" href="#" data-userid="{{ client.id }}" data-username="{{ client.first_name }} {{ client.last_name }}">
  <span class="name" id="client-name"><em>now styling:</em>{{ client.first_name }} {{ client.last_name }}</span>
  <span class="expanded bday" id="client-age" data-bd="{{ client.client_360.birthday }}"></span> 
  <span class="expanded style" id="client-occupation"></span> 
  <span class="expanded style" id="client-location" data-cs="{{ client.client_360.where_live }}" data-tz="{{client.timezone}}"></span>
  <span class="expanded weather"><i class="fa fa-thermometer-three-quarters"></i>winter {{ weather_info.winter_temperature_average }}&deg;,  spring {{ weather_info.spring_temperature_average }}&deg;,  summer {{ weather_info.summer_temperature_average }}&deg;,  fall {{ weather_info.autumn_temperature_average }}&deg;</span>
  <img class="client" id="user-clip-img" src="https://s3-us-west-2.amazonaws.com/images.allume.co{{ client.client_360.photo}}"/></a>
  <div class="details">
    <div id="client-dynamic-section">
      <span class="goal" id="client-session-goal"></span>
      <span class="next-session" id="client-next-session"></span>
      <div class="social" id="client-social"></div>
    </div>
    <div id="client-tabs"></div>
    <div class="client-sections" id="client-section-wrapper">
      <div id="client-picture" class="client-section">
        <img src="https://s3-us-west-2.amazonaws.com/images.allume.co{{ client.client_360.photo}}"/>
      </div>
      <div id="client-notes" class="client-section">
        <a href="#" id="add-note-toggle">add note</a>
        <h3></h3>
        <div id="add-notes-form">
          <label>Note</label>
          <textarea id="added-note" placeholder="Please enter your note..."></textarea>
          <a href="#" id="submit-note">submit note</a>
        </div>
        <div id="note-list"></div>
      </div>
    	<div id="client-bio" class="client-section">
        <span class="client-details" id="bra-size" data-sizes="{{ client.client_360.bra_size }}"></span>
      </div>
    	<div id="client-weather" class="client-section">
        <span id="client-weather-locale"></span>
        <div class="weather">
          <span>
            <em class="season">winter</em>
            <i class="wi {{ weather_info.winter_icon }}"></i>
            <em class="desc">avg temp: {{ weather_info.winter_temperature_average }}&deg; F</em>
          </span>
          <span> 
            <em class="season">spring</em>
            <i class="wi {{ weather_info.spring_icon }}"></i>
            <em class="desc">avg temp: {{ weather_info.spring_temperature_average }}&deg; F</em>
          </span>
          <span> 
            <em class="season">summer</em>
            <i class="wi {{ weather_info.summer_icon }}"></i>
            <em class="desc">avg temp: {{ weather_info.summer_temperature_average }}&deg; F</em>
          </span>
          <span> 
            <em class="season">fall</em>
            <i class="wi {{ weather_info.autumn_icon }}"></i>
            <em class="desc">avg temp: {{ weather_info.autumn_temperature_average }}&deg; F</em>
          </span>     
        </div>
    	</div>     
    </div>
  </div>
</div>

<!-- delete note confim -->
<div id="delete-note-overlay" class="deletion-confirm">
  <div class="stage">
    <div class="sa">
      <div class="sa-warning">
        <div class="sa-warning-body"></div>
        <div class="sa-warning-dot"></div>
      </div>
    </div>
    <div class="are-your-sure">Are you sure you wish to delete this note?</div>
    <div class="btns">
      <a href="#" class="yes">Yes</a>
      <a href="#" class="cancel">No</a>
    </div>
  </div>
</div>


