{% load staticfiles %}
{% load sstatic %}
<!DOCTYPE html>
<html>
<head>
  <title>ANNA - Explore Looks</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Barlow:100,200,300,400,500,700" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.css" rel="stylesheet"/>
  {% load static %}
  <link href="{% sstatic 'shopping_tool/css/nouislider.css' %}" media="all" rel="stylesheet"/>
  <link href="{% sstatic 'shopping_tool/css/styles.css' %}" media="all" rel="stylesheet"/>
</head>
<body class="explore-page" data-stylesession="{{ styling_session.id }}">
{% include "shopping_tool/header_partial.html" %}
{% include "shopping_tool/client_partial.html" %}
<div id="explore-form">
  <label>Stylist:</label>
  <select id="stylist-select" placeholder="Please select a stylist...">
    <option value=" ">All stylists</option>
  {% for stylist in stylists %}
    <option value="{{stylist.id}}">{{stylist.first_name}} {{stylist.last_name}}</option>
  {% endfor %}
  </select>
  <label>Search terms:</label>
  <input type="text" id="search-terms" value="" placeholder="Enter search terms..."/>
  <label class="range">Total price range:</label>
  <div id="total-price-range"></div>
  <table class="range-inputs">
    <tr>
      <td>
        <input type="text" class="ranger" id="total-price-min"/>
        <em>total price minimum</em>
      </td>
      <td>
        <input type="text" class="ranger" id="total-price-max"/>
        <em>total price maximum</em>
      </td>
    </tr>
  </table>
  <label class="range">Average price range:</label>
  <div id="avg-price-range"></div>
  <table class="range-inputs">
    <tr>
      <td>
        <input type="text" class="ranger" id="avg-price-min"/>
        <em>average price minimum</em>
      </td>
      <td>
        <input type="text" class="ranger" id="avg-price-max"/>
        <em>average price maximum</em>
      </td>
    </tr>
  </table>
  <label>Style:</label>
  <select id="explore-style" placeholder="Please select look styles..." multiple>
    <option value=""></option>
  {% for style in styles %}
    <option value="{{style.id}}">{{style.name}}</option>
  {% endfor %} 
  </select>
  <label>Occasion:</label>
  <select id="explore-occasion" placeholder="Please select look occasions..." multiple>
    <option value=""></option>
  {% for occ in occasions %}
    <option value="{{occ.id}}">{{occ.name}}</option>
  {% endfor %} 
  </select>
  <label class="toggle faves">
    <input id="explore-only-faves" name="show-faves" type="checkbox"><span><small></small></span>
    <em>show only my favorites</em>
  </label>
  <a href="#" id="clear-filters">clear filters</a>
</div>
<div id="looks-header">
  <!--<label class="toggle pricey">
    <input id="explore-looks-prices" name="explore_prices" type="checkbox"/><span><small></small></span>
    <em>show prices</em>
  </label>-->
  <h2>loading looks...</h2>
</div>
<div id="explore-wrapper">
  <div id="all-looks-list"></div>
  <div id="loader" class="active" data-page="1">loading...</div>
</div>
{% include "shopping_tool/rack_partial.html" %}
{% include "shopping_tool/looks_partial.html" %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.6.1/mousetrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>
<script src="{% sstatic 'shopping_tool/js/Sortable.min.js' %}"></script>
<script src="{% sstatic 'shopping_tool/js/nouislider.min.js' %}"></script>
<script src="{% sstatic 'shopping_tool/js/macy.min.js' %}"></script>
<script src="{% sstatic 'shopping_tool/js/utils.js' %}"></script>
<script src="{% sstatic 'shopping_tool/js/explore_page.js' %}"></script>
<script src="{% sstatic 'shopping_tool/js/rack_builder.js' %}"></script>
<script src="{% sstatic 'shopping_tool/js/look_builder.js' %}"></script>
<script>
{% include "shopping_tool/js_arrays.html" %}
var stylist_names = {
  {% for stylist in stylists %}
    {{stylist.id}}: "{{stylist.first_name}} {{stylist.last_name}}",
  {% endfor %}
};
utils.menu();
utils.client();
explore_page.searchSetUp();
/* before initializing page get stylist's favorites */
$.when(
  $.get('/shopping_tool_api/user_product_favorites/' + $('#stylist').data('stylistid') + '/'),
  $.get('/shopping_tool_api/user_look_favorites/' + $('#stylist').data('stylistid') + '/')
).then(function(favorite_products, favorite_looks){
  if(favorite_products[0] != undefined){
    for(var i = 0, l = favorite_products[0].length;i<l;i++){
      var fave = favorite_products[0][i];
      rack_builder.favorites_product_ids.push(fave.product);
      rack_builder.favorites.push(fave);
    }
  }
  if(favorite_looks[0] != undefined){
    for(var i = 0, l = favorite_looks[0].length;i<l;i++){
      var fave = favorite_looks[0][i];
      explore_page.favorite_look_ids.push(fave.look);
      explore_page.favorite_looks.push(fave);
    }
  }
  explore_page.init();
});
</script>
</body>
</html>