{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>Allume - Shopping Tool</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Barlow:100,200,300,400,500,700" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.css" rel="stylesheet"/>
  {% load static %}
  <link href="{% static 'shopping_tool/css/styles.css' %}" media="all" rel="stylesheet"/>
</head>
<body data-stylesession="{{ styling_session.id }}">
<div id="header">
  <a href="/" class="logo"><i class="icon-dress-form"></i>Allume Couture</a>
  <span id="stylist" data-stylistid="{{ user.id }}"></span>
</div>
{% include "shopping_tool/rack_partial.html" %}
{% include "shopping_tool/looks_partial.html" %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.6.1/mousetrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>
<script src="{% static 'shopping_tool/js/Sortable.min.js' %}"></script>
<script src="{% static 'shopping_tool/js/utils.js' %}"></script>
<script src="{% static 'shopping_tool/js/explore_page.js' %}"></script>
<script src="{% static 'shopping_tool/js/rack_builder.js' %}"></script>
<script src="{% static 'shopping_tool/js/look_builder.js' %}"></script>
<script>
/**
* @description layouts array for use in new look creation and look display
*/ 
var look_layouts = [
{% for layout in layouts %}
  { "id": {{ layout.id }},
    "name": "{{layout.display_name}}",
    "column_widths": "{{layout.column_widths}}",
    "columns": {{layout.columns}},
    "rows": {{layout.rows}},
    "row_heights": "{{layout.row_heights}}"
  },
{% endfor %} 
];
/**
* @description initial rack objects array
*/ 
var initial_rack = [
{% for item in rack_items %}
  { 
    "rack_id": {{item.id}},
    "id": {{item.product.id}},
    "product_id": {{ item.product.product_id }},
    "sku": "{{ item.product.sku}}",
    "merchant_id": {{ item.product.merchant_id }},
    "merchant_name": "{{ item.product.merchant_name }}",
    "manufacturer_name": "{{ item.product.manufacturer_name }}",
    "product_image_url": "{{item.product.product_image_url}}",
    "primary_category": "{{item.product.primary_category}}",
    "retail_price": {{item.product.retail_price}},
    "sale_price" : {{item.product.sale_price}}
  },
{% endfor %} 
];
/* before initializing page get stylists favories */
$.get('/shopping_tool_api/user_product_favorites/' + $('#stylist').data('stylistid') + '/',function(result){
  for(var i = 0, l = result.length;i<l;i++){
    var fave = result[i];
    rack_builder.favorites_product_ids.push(fave.product);
    rack_builder.favorites.push(fave);
  }
  explore_page.init();
})

</script>
</body>
</html>