{% load staticfiles %}
{% load sstatic %}
<!DOCTYPE html>
<html>
<head>
  <title>Allume - Shopping Tool</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Barlow:100,200,300,400,500,700" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.css" rel="stylesheet"/>
  {% load static %}
  <link href="{% sstatic 'shopping_tool/css/croppr.min.css' %}" media="all" rel="stylesheet"/>
  <link href="{% sstatic 'shopping_tool/css/styles.css' %}" media="all" rel="stylesheet"/>
</head>
<body class="search-page" data-stylesession="{{ styling_session.id }}">
{% include "shopping_tool/header_partial.html" %}
{% include "shopping_tool/client_partial.html" %}
<div id="content">
  <div id="search">
    <label>Hi <strong>{{ user.first_name }} {{ user.last_name }}</strong>, what are you looking for?</label>
    <select id="search-categories" placeholder="Select a category...">
      <option value=""></option>
      {% for category in categories %}
        <option value="{{ category.name }}">{{ category.name }}</option>
      {% endfor %}
    </select>
    <a href="#" id="search-btn">show me</a>
    <input class="search" id="search-field" name="text" type="text" placeholder="I want..." data-lookup=""/>
    <div id="facets"></div>
    <label class="toggle faves">
      <input id="facet-show-faves" name="show-faves" type="checkbox"><span><small></small></span>
      <em>show only favorites</em>
    </label>
  </div>
  <div id="results-wrapper">
    <div id="client-defaults"></div>
    <div id="facet-bar"><span class="title">your selection:</span><span id="search-form-selections"></span></div>
    <div id="pager-message"></div>
    <div id="results"></div>
    <div id="pager"></div>
  </div>
</div>
{% include "shopping_tool/rack_partial.html" %}
{% include "shopping_tool/looks_partial.html" %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.6.1/mousetrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>
<script src="{% sstatic 'shopping_tool/js/Sortable.min.js' %}"></script>
<script src="{% sstatic 'shopping_tool/js/croppr.min.js' %}"></script>
<script src="{% sstatic 'shopping_tool/js/utils.js' %}"></script>
<script src="{% sstatic 'shopping_tool/js/search_page.js' %}"></script>
<script src="{% sstatic 'shopping_tool/js/rack_builder.js' %}"></script>
<script src="{% sstatic 'shopping_tool/js/look_builder.js' %}"></script>
<script>
{% include "shopping_tool/js_arrays.html" %}
/* before initializing page get stylist's favorites */
/* cache the session id */
search_page.session_id = $('body').data('stylesession');
/* search functionality */
$('#search-btn').click(function(e){
  e.preventDefault();
  search_page.performSearch(1);
});
$("#search-field").val('').keyup(function(event) {
  if (event.keyCode === 13) {
    search_page.performSearch(1);
  }
});
$('#search-categories').val('').selectize({ create: false, sortField: 'text'});
$.get('/shopping_tool_api/user_product_favorites/' + $('#stylist').data('stylistid') + '/',function(result){
  for(var i = 0, l = result.length;i<l;i++){
    var fave = result[i];
    rack_builder.favorites_product_ids.push(fave.product);
    rack_builder.favorites.push(fave);
  }
  /* call the search page init function to set up the page */
  search_page.init();
})

</script>
</body>
</html>
