var look_proxy = '{{ product_image_proxy | safe }}';
/**
* @description layouts array for use in new look creation and look display
*/ 
var look_layouts = [
{% for layout in layouts %}
  { "id": {{ layout.id }},
    "name": "{{layout.display_name}}",
    "display": {{layout.layout_json_html | safe }}
  },
{% endfor %} 
];
/**
* @description initial rack objects array
*/ 
var initial_rack = [
{% for item in rack_items %}
  { 
    "rack_id": {{item.id}},
    "id": {{item.product.id}},
    "product_id": {{ item.product.product_id }},
    "sku": "{{ item.product.sku}}",
    "merchant_id": {{ item.product.merchant_id }},
    "merchant_name": "{{ item.product.merchant_name }}",
    "manufacturer_name": "{{ item.product.manufacturer_name }}",
    "product_image_url": "{{item.product.product_image_url}}",
    "primary_category": "{{item.product.primary_category}}",
    "retail_price": {{item.product.retail_price}},
    "sale_price" : {{item.product.sale_price}}
  },
{% endfor %} 
];
/**
* @description favorites
*/ 
var stylist_favorites = [
{% for item in favorites %}
  { 
    "id": {{item.product.id}},
    "product_id": {{ item.product.product_id }},
    "sku": "{{ item.product.sku}}",
    "merchant_id": {{ item.product.merchant_id }},
    "merchant_name": "{{ item.product.merchant_name }}",
    "manufacturer_name": "{{ item.product.manufacturer_name }}",
    "product_image_url": "{{item.product.product_image_url}}",
    "primary_category": "{{item.product.primary_category}}",
    "retail_price": {{item.product.retail_price}},
    "sale_price" : {{item.product.sale_price}}
  },
{% endfor %} 
];