{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>Allume - Shopping Tool</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Barlow:100,200,300,400,500,700" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.css" rel="stylesheet"/>
  {% load static %}
  <link href="{% static 'shopping_tool/css/croppr.min.css' %}" media="all" rel="stylesheet"/>
  <link href="{% static 'shopping_tool/css/styles.css' %}" media="all" rel="stylesheet"/>
</head>
<body class="look-builder-page" data-stylesession="{{ styling_session.id }}" data-sessiontoken="{{ styling_session.token }}">
{% include "shopping_tool/header_partial.html" %}
{% include "shopping_tool/client_partial.html" %}
<div id="content">
  
  <div id="rack-draggable">
    <h2><i class="icon-hanger"></i>Rack for {{ client.first_name }} {{ client.last_name }}</h2>
    <div class="empty">building the rack...</div>
  </div>
  <div id="look-drop"><div class="start">Select or add a look to edit...</div></div>
  <div id="compare-looks">
    <div class="lookbook-btns">
      <a href="#" id="preview-lookbook">preview lookbook</a>
      <a href="#" id="publish-lookbook">publish lookbook</a>
    </div>
    <div class="other-looks">
      <div class="empty">loading looks...</div>
    </div>
    <a href="#" id="add-new-look-to-lookbook"><i class="fa fa-plus"></i> add look</a>
  </div>
  
</div>
<!-- delete note confim -->
<div id="delete-look-overlay" class="deletion-confirm">
  <div class="stage">
    <div class="sa">
      <div class="sa-warning">
        <div class="sa-warning-body"></div>
        <div class="sa-warning-dot"></div>
      </div>
    </div>
    <div class="are-your-sure">Are you sure you wish to delete this look?</div>
    <div class="btns">
      <a href="#" class="yes">Yes</a>
      <a href="#" class="cancel">No</a>
    </div>
  </div>
</div>
<!-- preview overlay -->
<div id="preview-lookbook-overlay">
  <div class="stage">
    <a href="#" id="close-lb-pre"><i class="fa fa-times"></i></a>
    <h2>Preview Lookbook</h2>
      <div class="preview-container">
        <div class="client-details">
          <p>
            <span><strong>spend:</strong></span>
            <span><em>tops:</em>{{ client.client_360.spending_tops }}</span>
            <span><em>bottoms:</em>{{ client.client_360.spending_bottoms }}</span>
            <span><em>dresses:</em>{{ client.client_360.spending_dresses }}</span>
            <span><em>jackets:</em>{{ client.client_360.spending_jackets }}</span>
            <span><em>shoes:</em>{{ client.client_360.spending_shoes }}</span>
          </p>
          <p>
            <span><strong>sizes:</strong></span>
            <span id="prev-bra-size"></span>
            <span><em>tops:</em>{{ client.client_360.size_tops }}</span>
            <span><em>pants:</em>{{ client.client_360.size_pants }}</span>
            <span><em>jeans:</em>{{ client.client_360.size_jeans }}</span>
            <span><em>shoe:</em>{{ client.client_360.size_shoe }}</span>
          </p>

          <div class="bio">
            <img class="client" src="https://s3-us-west-2.amazonaws.com/images.allume.co{{ client.client_360.photo}}"/>
            <h3>{{ client.first_name }} {{ client.last_name }}</h3>
            <span id="prev-client-locale"></span>
            <span id="prev-client-birthday"></span>  
            <span><em>occupation:</em>{{ client.client_360.occupation }}</span>
            <span><em>look goals:</em>{{ client.client_360.looks_goal }}</span>
            <span><em>other goals:</em>{{ client.client_360.other_goals }}</span>
          </div>
        </div>
        <h4>Live Preview:</h4>
        <iframe id="previewIframe" src=""></iframe>
      </div>
  </div>
</div>
<div id="publish-lookbook-overlay" data-allowed="false">
  <div class="stage">
    <a href="#" id="close-lb"><i class="fa fa-times"></i></a>
    <h2>Publish Lookbook</h2>
  </div>
</div>




{% include "shopping_tool/rack_partial.html" %}
{% include "shopping_tool/looks_partial.html" %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.6.1/mousetrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>
<script src="{% static 'shopping_tool/js/Sortable.min.js' %}"></script>
<script src="{% static 'shopping_tool/js/croppr.min.js' %}"></script>
<script src="{% static 'shopping_tool/js/utils.js' %}"></script>
<script src="{% static 'shopping_tool/js/search_page.js' %}"></script>
<script src="{% static 'shopping_tool/js/rack_builder.js' %}"></script>
<script src="{% static 'shopping_tool/js/look_builder.js' %}"></script>
<script>
{% include "shopping_tool/js_arrays.html" %}
/* before initializing page get stylist's favorites */
$.get('/shopping_tool_api/user_product_favorites/' + $('#stylist').data('stylistid') + '/',function(result){
  for(var i = 0, l = result.length;i<l;i++){
    var fave = result[i];
    rack_builder.favorites_product_ids.push(fave.product);
    rack_builder.favorites.push(fave);
  }
  look_builder.init();
})

</script>
</body>
</html>
