<div id="create-look">
  <div class="stage">
    <a href="#" id="cancel-new-look"><i class="fa fa-times"></i></a>
    <h2>New Look</h2>
    <div class="create-look-container">
      <div id="new-look-error"></div>
      <a href="#" id="create-new-look">create look</a>
      <label>Name</label>
      <input id="new-look-name" type="text" name="name" placeholder="Please provide a name for the look..."/>
      <label>Layout</label>
      <em class="help">Please select one of the layouts below:</em>
      <div id="look-layouts-container"></div>
    </div>
  </div>
</div>
<div id="creating-look">
  <div class="stage">
    <span class="pulse_loader"></span><span class="pulse_message">Creating your new look...</span>
  </div>
</div>
<div id="look-indepth"></div>
<div id="cropper">
  <div class="stage">
    <a href="#" id="close-cropper"><i class="fa fa-times"></i></a>
    <h2>Crop Image</h2>
    <div id="cropper-zone"></div>
  </div>
</div>