{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>Allume - Shopping Tool</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Barlow:100,200,300,400,500,700" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.css" rel="stylesheet"/>
  {% load static %}
  <link href="{% static 'shopping_tool/css/croppr.min.css' %}" media="all" rel="stylesheet"/>
  <link href="{% static 'shopping_tool/css/styles.css' %}" media="all" rel="stylesheet"/>
</head>
<body class="look-builder-page" data-stylesession="{{ styling_session.id }}">
{% include "shopping_tool/header_partial.html" %}
{% include "shopping_tool/client_partial.html" %}
<div id="content">
  
  <div id="rack-draggable">
    <h2><i class="icon-hanger"></i>Rack for {{ client.first_name }} {{ client.last_name }}</h2>
    <div class="empty">building the rack...</div>
  </div>
  <div id="look-drop"><div class="start">Select or add a look to edit...</div></div>
  <div id="compare-looks">
    <div class="lookbook-btns">
      <a href="#" id="preview-lookbook">preview lookbook</a>
      <a href="#" id="publish-lookbook">publish lookbook</a>
    </div>
    <div class="other-looks">
      <div class="empty">loading looks...</div>
    </div>
    <a href="#" id="add-new-look-to-lookbook"><i class="fa fa-plus"></i> add look</a>
  </div>
  
</div>
{% include "shopping_tool/rack_partial.html" %}
{% include "shopping_tool/looks_partial.html" %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.6.1/mousetrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>
<script src="{% static 'shopping_tool/js/Sortable.min.js' %}"></script>
<script src="{% static 'shopping_tool/js/croppr.min.js' %}"></script>
<script src="{% static 'shopping_tool/js/utils.js' %}"></script>
<script src="{% static 'shopping_tool/js/search_page.js' %}"></script>
<script src="{% static 'shopping_tool/js/rack_builder.js' %}"></script>
<script src="{% static 'shopping_tool/js/look_builder.js' %}"></script>
<script>
{% include "shopping_tool/js_arrays.html" %}
/* before initializing page get stylist's favorites */
$.get('/shopping_tool_api/user_product_favorites/' + $('#stylist').data('stylistid') + '/',function(result){
  for(var i = 0, l = result.length;i<l;i++){
    var fave = result[i];
    rack_builder.favorites_product_ids.push(fave.product);
    rack_builder.favorites.push(fave);
  }
  look_builder.init();
})

</script>
</body>
</html>
