<div id="creating-look">
  <div class="stage">
    <span class="pulse_loader"></span><span class="pulse_message">Creating your new look...</span>
  </div>
</div>
<div id="look-indepth"></div>
<div id="crop-look-image">
  <div class="stage">
    <a href="#" id="close-crop-image"><i class="fa fa-times"></i></a>
    <h2>Crop Image</h2>
    <div id="cropper-container"></div>
    <div id="cropper-btns">
      <a href="#" class="crop"><i class="fa fa-crop"></i>crop</a>
      <a href="#" class="undo"><i class="fa fa-undo"></i>undo</a>
      <a href="#" class="restart"><i class="fa fa-picture-o"></i>restart</a>
      <a href="#" class="save"><i class="fa fa-save"></i>save</a>
      <a href="#" class="cancel"><i class="fa fa-times"></i>cancel</a>
    </div>   
  </div>
</div>