<div id="create-look">
  <div class="stage">
    <a href="#" id="cancel-new-look"><i class="fa fa-times"></i></a>
    <h2>New Look</h2>
    <div id="new-look-error"></div>
    <label>Name</label>
    <input id="new-look-name" type="text" name="name" placeholder="Please provide a name for the look..."/>
    <label>Layout</label>
    <select id="new-look-layout" name="layout" placeholder="Please select a layout for the look..."></select>
    <label>Description</label>
    <textarea id="new-look-description" name="description" placeholder="Please provide a description of the look..."></textarea>
    <a href="#" id="create-new-look">create look</a>
  </div>
</div>
<div id="edit-look">
  <div class="stage">
    <a href="#" id="cancel-edit-look"><i class="fa fa-times"></i></a>
    <h2>Edit Look</h2>
    <div id="edit-look-error"></div>
    <label>Name</label>
    <input id="edit-look-name" type="text" name="name" placeholder="Please provide a name for the look..."/>
    <label>Description</label>
    <textarea id="edit-look-description" name="description" placeholder="Please provide a description of the look..."></textarea>
    <a href="#" id="submit-edit-look">update look</a>
  </div>
</div>
<div id="design-look">
  <a href="#" id="close-design-look"><i class="fa fa-times"></i></a>
  <h2>Design Look: <span id="designing"></span></h2>
  <div id="rack-draggable"></div>
  <div id="look-drop"></div>
  <div id="compare-looks"></div>
</div>
<div id="look-indepth"></div>
<div id="cropper">
  <div class="stage">
    <a href="#" id="close-cropper"><i class="fa fa-times"></i></a>
    <h2>Crop Image</h2>
    <div id="cropper-zone"></div>
  </div>
</div>