{% load staticfiles %}
{% load sstatic %}
<!DOCTYPE html>
<html>
<head>
  <title>Allume - Shopping Tool</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Barlow:100,200,300,400,500,700" rel="stylesheet">
  {% load static %}
  <link href="{% sstatic 'shopping_tool/css/styles.css' %}" media="all" rel="stylesheet"/>
</head>
<body class="search-page" data-stylesession="{{ styling_session.id }}">
<div style="font-size:40px;font-weight:100;margin:50px 0;text-align:center">Sorry that look does not exist or you do not have access</div>
</body>
</html>