<a id="rack-toggle"><span>{{ rack_items|length }}</span> item{{ rack_items|length|pluralize }} in your rack</a>
<div id="rack">
  <a href="#" id="close-rack"><i class="fa fa-times"></i></a>
  <h2><i class="icon-hanger"></i>Rack for {{ client.first_name }} {{ client.last_name }}</h2>
  <div id="rack-tabs">
    <a href="#" id="add-look-btn">create look</a>
    <a href="#rack-list" class="tab on">Products</a>
    <a href="#favorites-list" class="tab">Favorites</a>
    <a href="#looks-list" class="tab">Looks</a>
  </div>
  <div id="rack-list" class="rack-section show">
    {% for item in rack_items %}

    {% empty %}
      <div class="empty">Add items to your rack...</div>
    {% endfor %}
  </div>
  <div id="favorites-list" class="rack-section">
    <a href="#" class="rack-section-toggle"><i class="fa fa-angle-down"></i>Favorite Products</a>
    <div class="block" id="fave-prods"></div>
    <a href="#" class="rack-section-toggle"><i class="fa fa-angle-down"></i>Favorite Looks</a>
    <div class="block" id="fave-looks"></div>
  </div>
  <div id="looks-list" class="rack-section"></div>
</div>
<div id="inspect-item"></div>