<a id="rack-toggle"><span>{{ rack_items|length }}</span> item{{ rack_items|length|pluralize }} in your rack</a>
<div id="rack">
  <a href="#" id="close-rack"><i class="fa fa-times"></i></a>
  <h2><i class="icon-hanger"></i>Rack for {{ client.first_name }} {{ client.last_name }}</h2>
  <div id="rack-tabs">
    <a href="#rack-list" class="tab on rack-tab">{{ client.first_name }}</a>
    <a href="#looks-list" class="tab look-tab">{{ client.first_name }}</a>
    <a href="#favorites-list" class="tab fave-tab">{{ user.first_name }}</a>
  </div>
  <div id="rack-list" class="rack-section show">
    {% for item in rack_items %}

    {% empty %}
      <div class="empty">Add items to your rack...</div>
    {% endfor %}
  </div>
  <div id="favorites-list" class="rack-section">
    <a href="#" class="rack-section-toggle"><i class="fa fa-angle-down"></i>Favorite Products</a>
    <div class="block" id="fave-prods"></div>
    <a href="#" class="rack-section-toggle"><i class="fa fa-angle-down"></i>Favorite Looks</a>
    <div class="block" id="fave-looks"></div>
  </div>
  <div id="looks-list" class="rack-section"></div>
</div>
<div id="inspect-item"></div>
<div id="client-details-template">
  <div class="client-details">
    <p>
      <span><strong>spend:</strong></span>
      <span><em>tops:</em>{{ client.client_360.spending_tops }}</span>
      <span><em>bottoms:</em>{{ client.client_360.spending_bottoms }}</span>
      <span><em>dresses:</em>{{ client.client_360.spending_dresses }}</span>
      <span><em>jackets:</em>{{ client.client_360.spending_jackets }}</span>
      <span><em>shoes:</em>{{ client.client_360.spending_shoes }}</span>
    </p>
    <p>
      <span><strong>sizes:</strong></span>
      <span id="prev-bra-size"></span>
      <span><em>tops:</em>{{ client.client_360.size_tops }}</span>
      <span><em>pants:</em>{{ client.client_360.size_pants }}</span>
      <span><em>jeans:</em>{{ client.client_360.size_jeans }}</span>
      <span><em>shoe:</em>{{ client.client_360.size_shoe }}</span>
    </p>
    <div class="bio">
      <img class="client" src="https://s3-us-west-2.amazonaws.com/images.allume.co{{ client.client_360.photo}}"/>
      <h3>{{ client.first_name }} {{ client.last_name }}</h3>
      <span id="prev-client-locale"></span>
      <span id="prev-client-birthday"></span>  
      <span><em>occupation:</em>{{ client.client_360.occupation }}</span>
      <span><em>look goals:</em>{{ client.client_360.looks_goal }}</span>
      <span><em>other goals:</em>{{ client.client_360.other_goals }}</span>
    </div>
    <p class="style first"><em>colors:</em>{{ client.client_360.colors_preference }}</p>
    <p class="style"><em>celebrity style:</em>{{ client.client_360.style_celebs }}</p>
    <p class="style"><em>brands:</em>{{ client.client_360.brands  }}</p>
    <p class="style"><em>stores:</em>{{ client.client_360.stores }}</p>
    <p class="style"><em>outfits:</em>{{ client.client_360.outfits_preference }} </p>
    <p class="style"><em>tops:</em>{{ client.client_360.style_tops }}</p>
    <p class="style"><em>jeans:</em>{{ client.client_360.style_jeans }}</p>
    <p class="style"><em>jacket:</em>{{ client.client_360.style_jacket }}</p> 
    <p class="style"><em>dress:</em>{{ client.client_360.style_dress }}</p>       
    <p class="style"><em>shoe:</em>{{ client.client_360.style_shoe }}</p>
    <p class="style"><em>jewelry (style):</em>{{ client.client_360.jewelry_style }}</p>
    <p class="style"><em>jewelry (type):</em>{{ client.client_360.jewelry_type }}</p> 
  </div>
</div>