<header class="container-fluid navbar-fixed-top bh-id-looks-header looks-header">
	
	<div class="row hidden-xs">
		<div class="col-md-4">
			<a href="/" class="bh-id-logo-link"><img src="/img/home/logo-black.png" class="img-responsive logo" /></a>
		</div>
		<div class="col-md-8">

			<div class="bh-id-bag bag-container">
				<img src="/img/looks/bag_black.png" class="img-responsive bag" />
				<span class="bh-id-bag-count bag-count">0</span>
			</div>

            <p class="greeting">
                <span class="bh-id-signed-out hide">
                    <a class="bh-id-login login">Sign In</a>
                </span>
                <span class="bh-id-signed-in hide">
                    Hi, <span class="bh-id-client-name"></span> (<a class="bh-id-logout logout">Sign Out</a>)
                </span>
            </p>

			<p class="bh-id-heart-container heart-container">Your <img src="/img/looks/heart_blush.png" class="img-responsive heart animated" /> Items</p>

		</div>
	</div>	

	<div class="row visible-xs-block">
		<div class="col-xs-7">
            <a href="/" class="bh-id-logo-link"><img src="/img/home/logo-black.png" class="img-responsive logo" /></a>
		</div>
		<div class="col-xs-5">

            <button class="bh-id-hamburger-button hamburger-button">
                <span></span>
                <span></span>
                <span></span>
            </button>

			<div class="bh-id-bag bag-container">
				<img src="/img/looks/bag_black.png" class="img-responsive bag" />
				<span class="bh-id-bag-count bag-count">0</span>
			</div>

			<span class="bh-id-heart-container">
                <img src="/img/looks/heart_blush.png" class="img-responsive heart animated" />
			</span>

		</div>
	</div>

    <div class="row visible-xs-block">
        <div class="col-md-12">

            <ul class="bh-id-hamburger-menu hamburger-menu">
                <li><a href="/">Sign In</a></li>
                <li><a href="/">Sign Out</a></li>
            </ul>

        </div>
    </div>

</header>
